@model MotaiProject.ViewModels.EmployeeCheckoutViewModel

@{
    ViewBag.Title = "realCheckView";
    Layout = "~/Views/Shared/Layoutbusiness.cshtml";
}

<h2>實體結帳畫面</h2>

<div>
    <hr />
    <div style="display:none">
        <h6>@Html.DisplayFor(model => model.orderDetails.FirstOrDefault().oOrderId)</h6>
        @Html.HiddenFor(model => model.orderDetails.FirstOrDefault().oOrderId)
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.CustomerName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.oAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.oAddress)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.cNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.cNote)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderDetails.FirstOrDefault().ProductNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetails.FirstOrDefault().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetails.FirstOrDefault().ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetails.FirstOrDefault().oProductQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetails.FirstOrDefault().oNote)
            </th>
        </tr>
        @foreach (var item in Model.orderDetails)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @((int)item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oProductQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oNote)
            </td>
        </tr>
        }
    </table>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.originalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.originalPrice)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.PromotionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PromotionName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.PromotionCondition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PromotionCondition)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.PromotionDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PromotionDiscount)
        </dd>
    </dl>
    <div>
        <input type="radio" id="cash" name="payType" value="1">
        <label for="cash">現金</label>
    </div>
    <div>
        <input type="radio" id="creditCard" name="payType" value="2">
        <label for="creditCard">信用卡</label>
    </div>
    <div>
        <label>應收帳款:</label>
        @Html.DisplayFor(model => model.TotalAmount)
    </div>
    <div>
        <label>已收帳款:</label>
        @Html.DisplayFor(model => model.AlreadyPay)
    </div>
    <div>
        <label for="payMoney">付款金額:</label>
        <input id="payMoney" type="text" value="@Html.DisplayFor(model => model.Unpaid)" />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="orderCheckout" type="submit" value="結帳" class="btn btn-success" />
        </div>
    </div>
</div>
<script>
    $("#orderCheckout").click(function () {
        var method = $("input[name='payType']:checked").val();
        var OrderId = $("#oOrderId").val();
        var payMoney = $("#payMoney").val();
        if (typeof (method) == "undefined") {
            alert("請選取操作方式!");
            return false;
        } else {
            $.ajax({
                url: "@Url.Action("OrderPay","Order")",
                type: "POST",
                data:
                {
                    "payType": method,
                    "OrderId": OrderId,
                    "payMoney": payMoney,
                },
                success: function (data) {
                    alert(data.msg);
                    window.location.href = data.url;
                }
            });
        }
    });
</script>