@model IEnumerable<MotaiProject.ViewModels.WareInventorySelectViewModel>

@{
    ViewBag.Title = "倉儲查詢";
    Layout = "~/Views/Shared/LayoutCommodity.cshtml";
}

<h2>倉儲查詢</h2>
<div id="warning"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WarehouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQty)
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>

            @if (item.ProductQty < 1)
            {
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.ProductQty)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQty)
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<script>

</script>