@model MotaiProject.ViewModels.CommodityViewModel

@{
    ViewBag.Title = "查詢倉儲";
    Layout = "~/Views/Shared/LayoutCommodity.cshtml";
}


<div style="position:absolute;right:300px">
    <label style="font-size:16px;padding-top:20px;padding-right:10px;line-height:16px;margin-bottom:-5px;">搜尋: </label>
    <input type="search" class="light-table-filter" data-table="order-table" placeholder="請輸入關鍵字">
</div>
    @if (Model.InventoryWaring != null)
    {
        <div class="accordion  col-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            商品庫存不足清單
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <table>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.InventoryWaring.FirstOrDefault().ProductName)</th>
                                <th>@Html.DisplayNameFor(model => model.InventoryWaring.FirstOrDefault().underStock)</th>
                            </tr>
                            @foreach (var item in Model.InventoryWaring)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                <td>@Html.DisplayFor(modelItem => item.underStock)</td>
                            </tr>
                            }
                        </table>
                    </div>
                        </div>
                    </div>
                </div>
            }

        <table class="table order-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InventorySelect.First().WarehouseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InventorySelect.First().ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InventorySelect.First().ProductQty)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InventorySelect)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WarehouseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>

                        @if (item.ProductQty < 1)
                        {
                            <td style="color:red">
                                已無庫存
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductQty)
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <script>
            (function (document) {
                'use strict';

                // 建立 LightTableFilter
                var LightTableFilter = (function (Arr) {

                    var _input;

                    // 資料輸入事件處理函數
                    function _onInputEvent(e) {
                        _input = e.target;
                        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                        Arr.forEach.call(tables, function (table) {
                            Arr.forEach.call(table.tBodies, function (tbody) {
                                Arr.forEach.call(tbody.rows, _filter);
                            });
                        });
                    }

                    // 資料篩選函數，顯示包含關鍵字的列，其餘隱藏
                    function _filter(row) {
                        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                        row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                    }

                    return {
                        // 初始化函數
                        init: function () {
                            var inputs = document.getElementsByClassName('light-table-filter');
                            Arr.forEach.call(inputs, function (input) {
                                input.oninput = _onInputEvent;
                            });
                        }
                    };
                })(Array.prototype);

                // 網頁載入完成後，啟動 LightTableFilter
                document.addEventListener('readystatechange', function () {
                    if (document.readyState === 'complete') {
                        LightTableFilter.init();
                    }
                });

            })(document);
        </script>
