@model IEnumerable<MotaiProject.ViewModels.ShipSelectViewModel>

@{
    ViewBag.Title = "出貨單查詢";
    Layout = "~/Views/Shared/LayoutCommodity.cshtml";
    int i = 0;
}

<h2>出貨單查詢</h2>
<a href="@Url.Action("出貨單建立","Commodity")" style="text-decoration:none">新增出貨單</a>

<div class="accordion" id="accordionExample">
    <div class="container" style="margin-left:0px;width:68vw">
        <table class="table" style="text-align:left">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipSerialValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipNote)
                </th>
            </tr>
        </table>
    </div>

    @foreach (var item in Model)
    {
        <div class="card" style="padding:0px">
            <div class="card-header" id="heading@(i)" style="padding:0px">
                <div class="btn btn-link container-fluid" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)" style="padding:0px">
                    <table class="table" style="text-align:left">
                        <tr>
                            <td style="width:100px">
                                @item.EmployeeName.Replace("\r\n", "")
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.ShipSerialValue)
                            </td>
                            <td style="width:100px">
                                @Html.DisplayFor(modelItem => item.ShipDate)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.ShipNote)
                            </td>

                        </tr>
                    </table>
                </div>
            </div>

            <div id="collapse@(i)" class="collapse hide" aria-labelledby="heading@(i)" data-parent="#accordionExample">
                <div class="card-body" style="width:100%">
                    <table class="table text-dark" style="text-align:center">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().ProductNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().OrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().sQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().WareHouseName)
                            </th>
                        </tr>
                        @foreach (var itemdetail in item.ShipDetails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.ProductNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.sQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.WareHouseName)
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>


        </div>
        i++;
    }
</div>

