@model IEnumerable<MotaiProject.ViewModels.ShipSelectViewModel>

@{
    ViewBag.Title = "查詢出貨單";
    Layout = "~/Views/Shared/LayoutCommodity.cshtml";
    int i = 0;
}


<style>
    a {
        color: #000000;
    }

        a:hover {
            color: #000000;
            text-decoration: none;
        }

    .btn-yellow_me_one {
        color: #000000;
        font-weight: 900;
        background-color: #FCD492;
        width: 100px;
    }

        .btn-yellow_me_one:hover {
            color: #000000;
            font-weight: 900;
            background-color: #ffdfaa;
        }

        .btn-yellow_me_one:focus,
        .btn-yellow_me_one.focus {
            box-shadow: 0 0 0 0.1rem #F2EDD8;
            background-color: #ffdfaa;
        }

        .btn-yellow_me_one.disabled,
        .btn-yellow_me_one:disabled {
            color: #000000;
            font-weight: 900;
            background-color: #FCD492;
            border-color: #A7674C;
        }

        .btn-yellow_me_one:not(:disabled):not(.disabled):active,
        .btn-yellow_me_one:not(:disabled):not(.disabled).active,
        .show > .btn-yellow_me_one.dropdown-toggle {
            color: #000000;
            font-weight: 900;
            background-color: #FCD492;
        }

            .btn-yellow_me_one:not(:disabled):not(.disabled):active:focus,
            .btn-yellow_me_one:not(:disabled):not(.disabled).active:focus,
            .show > .btn-brown_me_one.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.1rem #F2EDD8;
                background-color: #ffdfaa;
            }

    .Y_btn-link {
        font-weight: 400;
        color: #000000;
    }

        .Y_btn-link:hover {
            /*color: #0056b3;*/
            background-color: #FCD492;
        }

        .Y_btn-link:focus, .Y_btn-link.focus {
            box-shadow: none;
        }

        .Y_btn-link:disabled, .Y_btn-link.disabled {
            color: #6c757d;
            pointer-events: none;
        }
</style>
<h2>查詢出貨單</h2>
<a href="@Url.Action("出貨單建立","Commodity")" style="text-decoration:none;padding: 3px;background-color:#FCD492"  class=" btn btn-yellow_me_one">新增出貨單</a>

<div class="accordion" id="accordionExample">
    @*<div class="container" style="margin-left:0px;width:68vw">*@
    <div class="card-header" style="padding:0px">
        <table class="table" style="text-align:center">
            <tr>
                <th style="width:250px">
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th style="width:250px">
                    @Html.DisplayNameFor(model => model.ShipSerialValue)
                </th>
                <th style="width:250px">
                    @Html.DisplayNameFor(model => model.ShipDate)
                </th>
                <th style="width:250px">
                    @Html.DisplayNameFor(model => model.ShipNote)
                </th>
            </tr>
        </table>
    </div>

    @foreach (var item in Model)
    {
        <div class="card" style="padding:0px">
            <div class="card-header" id="heading@(i)" style="padding:0px">
                <div class="btn Y_btn-link container-fluid" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)" style="padding:0px;height:50px">
                    <table class="table" style="text-align:center">
                        <tr>
                            <td style="width:250px">
                                @item.EmployeeName.Replace("\r\n", "")
                            </td>
                            <td style="width:250px">
                                @Html.DisplayFor(modelItem => item.ShipSerialValue)
                            </td>
                            <td style="width:250px">
                                @Html.DisplayFor(modelItem => item.ShipDate)
                            </td>
                            <td style="width:250px">
                                @Html.DisplayFor(modelItem => item.ShipNote)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="collapse@(i)" class="collapse hide" aria-labelledby="heading@(i)" data-parent="#accordionExample">               
                <div class="card-body" style="width:100%">
                    <h5 style="text-align:center">商品列表</h5>
                    <table class="table text-dark" style="text-align:center">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().ProductNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().OrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().sQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipDetails.First().WareHouseName)
                            </th>
                        </tr>
                        @foreach (var itemdetail in item.ShipDetails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.ProductNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.sQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.WareHouseName)
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>


        </div>
        i++;
    }
</div>

