@model MotaiProject.ViewModels.ShipCreateShowViewModel

@{
    ViewBag.Title = "出貨單建立";
    Layout = "~/Views/Shared/LayoutCommodity.cshtml";
}

<h2 onclick="clicktitle()">出貨單建立</h2>
<form method="post">
    <div class="form-horizontal">
        <h4>StockListViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.sShipSerialValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sShipSerialValue, new { htmlAttributes = new { @class = "form-control", @id = "ShipSerialValue" ,@disabled= "disabled" } })
                @Html.ValidationMessageFor(model => model.sShipSerialValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sShipDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sShipDate, new { htmlAttributes = new { @class = "form-control", @id = "ShipDate" } })
                @Html.ValidationMessageFor(model => model.sShipDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sShipNote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sShipNote, new { htmlAttributes = new { @class = "form-control", @id = "ShipNote" } })
                @Html.ValidationMessageFor(model => model.sShipNote, "", new { @class = "text-danger" })
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShipShows.First().OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipShows.First().oAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipShows.First().oDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipShows.First().oCheck)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipShows.First().oCheckDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipShows.First().cNote)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.ShipShows)
            {
                <tr>
                    <td>
                        <input id="@item.OrderId" type="radio" name="SelectOrder" value="@Html.DisplayFor(modelItem => item.OrderId)" />
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oCheck)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oCheckDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cNote)
                    </td>
                </tr>
            }
        </table>
        <table id="OrderDetail" class="table"></table>
        <table id="Inventory" class="table"></table>
        <input type="submit" value="新增出貨單" />
    </div>
</form>
<script>
    $("input[name='SelectOrder']").change(function () {
        var orderId = $("input[name='SelectOrder']:checked").val();
        $.ajax({
            url:"@Url.Action("showOrderDetail", "Commodity")",
            type: "POST",
            data: { "OrderId": orderId },
            success: function (data) {
                console.log(data[0]);
                const title = "<tr><th>產品編號</th>" +
                    "<th>產品名稱</th>" +
                    "<th>產品數量</th>" +
                    "<th>備註</th></tr>";
                $("#OrderDetail").html(title);
                for (let i = 0; i < data.length; i++) {
                    var Num = data[i].ProductNum;
                    var Name = data[i].ProductName;
                    var Qty = data[i].oProductQty;
                    var Note = data[i].oNote;
                    if (Note == null) {
                        Note = "";
                    }
                    $("#OrderDetail").append("<tr><td>" + Num + "</td>" +
                        "<td>" + Name + "</td>" +
                        "<td>" + Qty + "</td>" +
                        "<td>" + Note + "</td></tr>");
                }
            }
        });
        $.ajax({
            url: "@Url.Action("chooseShipWare","Commodity")",
            type: "POST",
            data: { "OrderId": orderId },
            success: function (data) {
                const title = "<tr><th>倉儲名</th>" +
                    "<th>產品編號</th>" +
                    "<th>產品名稱</th>" +
                    "<th>倉儲庫存</th>" +
                    "<th>出貨數量</th></tr>";
                $("#Inventory").html(title);
                for (let i = 0; i < data.length; i++) {
                    var wName = data[i].WareHouseName;
                    var wId = data[i].WareHouseId;
                    var pId = data[i].ProductId;
                    var Num = data[i].ProductNum;
                    var odId = data[i].OrderDetailId;
                    var pName = data[i].ProductName;
                    var Qty = data[i].ProductQty;
                    $("#Inventory").append("<tr><td>" + wName +
                        "<input type='hidden' name='WareHouseId' value='" + wId + "'></td>" +
                        "<td>" + Num +
                        "<input type='hidden' name='ProductId' value='" + pId + "'></td>" +
                        "<td>" + pName +
                        "<input type='hidden' name='OrderDetailId' value='" + odId + "'></td>" +
                        "<td>" + Qty + "</td>" +
                        "<td><input type='text' name='ShipProductQty'></td>" +
                        "</tr >");
                    document.getElementsByName('ShipProductQty')[0].value = 1;
                }
            }
        });
    })
</script>
<script>
    function clicktitle() {
        @foreach(var item in Model.ShipShows)
        {
        <Text>
        var X =@item.OrderId;
        document.getElementById(`${X}`).click();
        </Text>
            break;
        }
    }


</script>