@model IEnumerable<MotaiProject.ViewModels.StockSelectViewModel>

@{
    ViewBag.Title = "查詢進貨單";
    Layout = "~/Views/Shared/LayoutCommodity.cshtml";
    int i = 0;
}
<style>
    a {
        color: #000000;
    }

        a:hover {
            color: #000000;
            text-decoration: none;
        }

    .btn-yellow_me_one {
        color: #000000;
        font-weight: 900;
        background-color: #FCD492;
        width: 100px;
    }

        .btn-yellow_me_one:hover {
            color: #000000;
            font-weight: 900;
            background-color: #ffdfaa;
        }

        .btn-yellow_me_one:focus,
        .btn-yellow_me_one.focus {
            box-shadow: 0 0 0 0.1rem #F2EDD8;
            background-color: #ffdfaa;
        }

        .btn-yellow_me_one.disabled,
        .btn-yellow_me_one:disabled {
            color: #000000;
            font-weight: 900;
            background-color: #FCD492;
            border-color: #A7674C;
        }

        .btn-yellow_me_one:not(:disabled):not(.disabled):active,
        .btn-yellow_me_one:not(:disabled):not(.disabled).active,
        .show > .btn-yellow_me_one.dropdown-toggle {
            color: #000000;
            font-weight: 900;
            background-color: #FCD492;
        }

            .btn-yellow_me_one:not(:disabled):not(.disabled):active:focus,
            .btn-yellow_me_one:not(:disabled):not(.disabled).active:focus,
            .show > .btn-brown_me_one.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.1rem #F2EDD8;
                background-color: #ffdfaa;
            }

    .Y_btn-link {
        font-weight: 400;
        color: #000000;
    }

        .Y_btn-link:hover {
            /*color: #0056b3;*/
            background-color: #FCD492;
        }

        .Y_btn-link:focus, .Y_btn-link.focus {
            box-shadow: none;
        }

        .Y_btn-link:disabled, .Y_btn-link.disabled {
            color: #6c757d;
            pointer-events: none;
        }
</style>
@*<div style="display:flex;justify-content:space-between">*@
    <h2>查詢進貨單</h2>
    <a href="@Url.Action("進貨單建立","Commodity")" style="text-decoration:none; padding: 3px;background-color:#FCD492" class="btn btn-yellow_me_one">新增進貨單</a>
@*</div>*@
 @*<table class="table  order-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sStockSerialValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sVendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sVendorTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sStockDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sStockNote)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sStockSerialValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sVendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sVendorTel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sStockDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sStockNote)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails.First().ProductNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails.First().ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails.First().sCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails.First().sQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails.First().WareHouseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails.First().sNote)
                </th>
            </tr>
            foreach (var itemdetail in item.StockDetails)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => itemdetail.ProductNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemdetail.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemdetail.sCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemdetail.sQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemdetail.WareHouseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemdetail.sNote)
                </td>
            </tr>
            }
        }
    </table>*@


<div class="accordion" id="accordionExample">
    @*<div class="container" style="margin-left:-30px;width:68vw">*@
    <div class="card-header" style="padding:0px;height:50px">
        <table class="table" style="text-align:center">
            <tr>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.sStockSerialValue)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.sVendor)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.sVendorTel)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.sStockDate)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.sTotalCost)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.sStockNote)
                </th>
            </tr>
        </table>
    </div>

    @foreach (var item in Model)
    {
        <div class="card" style="padding:0px">
            <div class="card-header" id="heading@(i)" style="padding:0px">
                <div class="btn Y_btn-link  container-fluid" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)" style="padding:0px;height:50px">
                    <table class="table table-hover">
                        <tr>
                            <td style="width:150px">
                                @item.EmployeeName.Replace("\r\n", "")
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.sStockSerialValue)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.sVendor)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.sVendorTel)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.sStockDate)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.sTotalCost)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.sStockNote)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="collapse@(i)" class="collapse hide" aria-labelledby="heading@(i)" data-parent="#accordionExample">
                <div class="card-body" style="width:100%">
                    <h5 style="text-align:center">商品列表</h5>
                    <table class="table text-dark" style="text-align:center">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StockDetails.First().ProductNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockDetails.First().ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockDetails.First().sCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockDetails.First().sQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockDetails.First().WareHouseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockDetails.First().sNote)
                            </th>
                        </tr>
                        @foreach (var itemdetail in item.StockDetails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.ProductNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.ProductName)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => itemdetail.sCost)*@
                                    @((int)itemdetail.sCost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.sQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.WareHouseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemdetail.sNote)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        i++;
    }
</div>
    <script src="~/Content/js/jquery-3.5.1.min.js"></script>