@model IEnumerable<MotaiProject.ViewModels.DiaryViewModel>
@{
    ViewBag.Title = "工作日誌總覽";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<h2>工作日誌總覽</h2>


<table class="table" style="overflow:hidden;text-align:center" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dDate)
        </th>
        <th style="min-width:100px">
            @Html.DisplayNameFor(model => model.eName)
        </th>
        <th style="min-width:100px">
            @Html.DisplayNameFor(model => model.dWeather)
        </th>
        <th style="min-width:150px">
            @Html.DisplayNameFor(model => model.dWarehouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dDiaryNote)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dWeather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dWarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dDiaryNote)
            </td>

        </tr>
    }

</table>
