@model MotaiProject.ViewModels.wareData

@{
    ViewBag.Title = "店鋪報表";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
    int datacolor = 0;
    List<string> L = new List<string>
{"#fbb4ae","#b3cde3","#ccebc5","#decbe4","#fed9a6","#ffffcc","#e5d8bd","#fddaec","#f2f2f2"};
    List<string> Wname = new List<string> { "網路平台", "礁溪 - 麒麟門市", "鶯歌 - 光點門市", "台南 - 新仁門市", "高雄 - 鳳山門市", "苗栗 - 三義門市", "新店 - 總公司", "台南 - 保安倉","台南 - 大同倉", "台南 - 文化倉", "鶯歌 - 延平倉", "宜蘭 - 員山民宿", "寄售 - 汽車行" };
    int RR = 0;
    int S = 0;
    int person = 0;
    foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
    {
        int temsave = 0;
        foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
        {
            RR += kvp2.Value;
            temsave += kvp2.Value;
        }
        if (person < temsave) { S = kvp.Key; person = temsave; }
    }

}
<style>
    .cab {
        margin: 10px;
        width: 250px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div class="container bg-white">
    <h2 class="bg-white">店鋪報表</h2>
    <div class="row">
        <div class="card text-white bg-primary mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header"><h5>店鋪銷售總額</h5></div>
            <div class="card-body">
                <h5 class="card-text">$NTD @RR 元</h5>
            </div>
        </div>
        <div class="card text-white bg-info mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header"><h5>店鋪銷售第一</h5></div>
            <div class="card-body">
                <h5>@Wname[S-1]</h5>
                <p class="card-text">$NTD @person 元</p>
            </div>
        </div>
    </div>



    <div style="width:500px;height:500px">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    @*<table class="table">
        <tr>
            <th>
                店鋪\月份
            </th>
            @foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
            {
                foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
                {
                    <th>
                        @kvp2.Key 月
                    </th>
                }
                break;
            }

        </tr>

        @foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
        {
            <tr>
                <td>@Wname[kvp.Key - 1]</td>
                @foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
                {

                    <td>@kvp2.Value</td>

                }
            </tr>
        }

    </table>*@
</div>



<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [@foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
                        {<Text>
                        '@Wname[kvp.Key - 1]',</Text>}],
            datasets: [
                {
                    label:'set1',
                        backgroundColor: ['@L[0]', '@L[1]', '@L[2]', '@L[3]', '@L[4]'],
                    borderColor: ['@L[0]','@L[1]','@L[2]','@L[3]','@L[4]'],
                    data: [
                        @foreach(KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
                        {
                            int fuc = 0;
                            foreach (KeyValuePair<int, int> kvp2 in kvp.Value) { fuc += kvp2.Value; }
                            <Text>@fuc,</Text>

                        }

                    ],

                },

            ]
        }
    });


</script>
