@model MotaiProject.ViewModels.wareData

@{
    ViewBag.Title = "店鋪報表";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
    int datacolor = 0;
    List<string> L = new List<string>
{"#fbb4ae","#b3cde3","#ccebc5","#decbe4","#fed9a6","#ffffcc","#e5d8bd","#fddaec","#f2f2f2"};
    List<string> Wname = new List<string> { "網路平台", "礁溪 - 麒麟門市", "鶯歌 - 光點門市", "台南 - 新仁門市", "高雄 - 鳳山門市", "苗栗 - 三義門市", "新店 - 總公司", "台南 - 保安倉", "台南 - 大同倉", "台南 - 文化倉", "鶯歌 - 延平倉", "宜蘭 - 員山民宿", "寄售 - 汽車行" };
    int RR = 0;
    int S = 0;
    int person = 0;
    int RRM = 0;
    int SM = 0;
    int personM = 0;
    int M = DateTime.Now.Month;
    //foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
    //{
    //    int temsave = 0;
    //    foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
    //    {
    //        RR += kvp2.Value;
    //        temsave += kvp2.Value;
    //    }
    //    if (person < temsave) { S = kvp.Key; person = temsave; }
    //}
    List<List<int>> LR = new List<List<int>>();
    foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
    {
        int temsave = 0;
        List<int> LFF = new List<int>();
        foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
        {
            RR += kvp2.Value;
            temsave += kvp2.Value;
            LFF.Add(kvp2.Value);
        }
        LR.Add(LFF);
        if (person < temsave) { S = kvp.Key; person = temsave; }
        int temsaveM = 0;
        RRM += kvp.Value[M];
        temsaveM = kvp.Value[M];
        if (personM < temsaveM) { SM = kvp.Key; personM = temsaveM; }


    }
    List<int> BEUSE = new List<int>();
    for (int ii = 0; ii < LR.Count; ii++)
    {
        int AA = 0;
        for (int i = 0; i < 12; i++)
        {
            int A = LR[ii][i];
            AA += A;

        }
        BEUSE.Add(AA);
    }


}
<style>
    .cab {
        margin: 10px;
        width: 250px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div class="container bg-white" style="height:800px;">
    <h2 class="bg-white">店鋪報表</h2>
    <div class="row">
        <div class="card text-white bg-primary mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header">
                <h5>本月全門市銷售額</h5>
            </div>
            <div class="card-body">
                <h5 class="card-text">$NTD @RRM 元</h5>
            </div>
        </div>
        <div class="card text-white bg-info mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header">
                <h5>本月銷售第一門市</h5>
            </div>
            <div class="card-body">
                <h5>@Wname[SM - 1]</h5>
                <p class="card-text">$NTD @personM 元</p>
            </div>
        </div>
        <div class="card text-white bg-warning mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header">
                <h5>年度全門市銷售額</h5>
            </div>
            <div class="card-body">
                <h5 class="card-text">$NTD @RR 元</h5>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header">
                <h5>年度銷售第一門市</h5>
            </div>
            <div class="card-body">
                <h5>@Wname[S - 1]</h5>
                <p class="card-text">$NTD @person 元</p>
            </div>
        </div>
    </div>
    @*<div class="d-flex">
            <button class="btn btn-primary">年度報表</button>
            <button class="btn btn-primary">第一季報表</button>
            <button class="btn btn-primary">第二季報表</button>
            <button class="btn btn-primary">第三季報表</button>
            <button class="btn btn-primary">第四季報表</button>
        </div>*@

    <div style="width:500px;height:500px">
        <p>本月門市銷售統計表</p>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div style="width:500px;height:500px;margin-left:600px;margin-top:-500px">
        <p>年度門市銷售統計表</p>
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
    @*<table class="table">
            <tr>
                <th>
                    店鋪\月份
                </th>
                @foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
                {
                    foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
                    {
                        <th>
                            @kvp2.Key 月
                        </th>
                    }
                    break;
                }

            </tr>

            @foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
            {
                <tr>
                    <td>@Wname[kvp.Key - 1]</td>
                    @foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
                    {

                        <td>@kvp2.Value</td>

                    }
                </tr>
            }

        </table>*@
</div>



<script>

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [@foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
                        {<Text>
                        '@Wname[kvp.Key - 1]',</Text>}],
            datasets: [
                {
                    label:'set1',
                        backgroundColor: ['@L[0]', '@L[1]', '@L[2]', '@L[3]', '@L[4]' ,'@L[5]', '@L[6]', '@L[7]', '@L[8]', '#169DB2',],
                    borderColor:'#fff',
                    data: [
                        @foreach(KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
                        {
                            int thismon = DateTime.Now.Month;
                            //foreach (KeyValuePair<int, int> kvp2 in kvp.Value) { fuc += kvp2.Value; }
                            int fuc = kvp.Value[thismon];
                            <Text>@fuc,</Text>

                        }

                    ],

                },

            ]
        },     
    });
</script>
<script>
        var ctx = document.getElementById('myChart2');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    @foreach (KeyValuePair<int, Dictionary<int, int>> kvp in Model.waretem)
                        {<Text>
                        '@Wname[kvp.Key - 1]',</Text>}
                ],
                datasets: [
                    {
                    label: '銷售額',
                        backgroundColor: 'rgba(179,205,227,0.6)',
                        borderColor: 'rgb(179,205,227)',
                        data: [
                            @for (int i=0;i<BEUSE.Count;i++){
                            @BEUSE[i]<Text>,</Text>
                            }
                        ],
                    },

                ]
            }
        });


</script>