@model MotaiProject.ViewModels.empData

@{
    ViewBag.Title = "銷售報表";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
    List<string> L = new List<string>
{"#fbb4ae","#b3cde3","#ccebc5","#decbe4","#fed9a6","#ffffcc","#e5d8bd","#fddaec","#f2f2f2"};
    int RR = 0;
    string S = "";
    int person = 0;
    List<List<int>> LR = new List<List<int>> ();
    foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
    {
        int temsave = 0;
        List<int> LFF = new List<int>();
        foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
        {
            RR += kvp2.Value;
            temsave += kvp2.Value;
            LFF.Add(kvp2.Value);
        }
        LR.Add(LFF);
        if (person < temsave) { S = kvp.Key; person = temsave; }
    }
    List<int> BEUSE = new List<int>();
    for (int ii = 0; ii < 12; ii++) {
        int AA = 0;
        for (int i = 0; i < LR.Count; i++)
        {
            int A = LR[i][ii];
            AA += A;

        }
        BEUSE.Add(AA);
    }
}
<style>
    .cab {
        margin: 10px;
        width: 250px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<div class="container-fluid bg-white">
    <h2 class="bg-white">銷售報表</h2>
    <div class="row">
        <div class="card text-white bg-primary mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header">
                <h5>員工銷售總額</h5>
            </div>
            <div class="card-body">
                <h5 class="card-text">$NTD @RR 元</h5>
            </div>
        </div>
        <div class="card text-white bg-info mb-3 d-flex cab" style="max-width: 18rem;">
            <div class="card-header">
                <h5>員工銷售第一</h5>
            </div>
            <div class="card-body">
                <h5>@S</h5>
                <p class="card-text">$NTD @person 元</p>
            </div>
        </div>
    </div>



    <div style="width:500px;height:500px">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div style="width:500px;height:500px;margin-left:600px;margin-top:-500px">
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
</div>
@*<table class="table">
            <tr>
                <th>
                    員工\月份
                </th>
                @foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
                {
                    foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
                    {
                        <th>
                            @kvp2.Key 月
                        </th>
                    }
                    break;
                }

            </tr>

            @foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
            {
                <tr>
                    <td>@kvp.Key</td>
                    @foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
                    {

                        <td>@kvp2.Value</td>

                    }
                </tr>
            }

        </table>

    </div>*@

@*<script>
        var ctx = document.getElementById('myChart2');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                datasets: [
                @foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
                {
                    <text>
                    {
                        label: '@kvp.Key',
                        backgroundColor: '@L[datacolor]',
                        borderColor: '@L[datacolor]',
                        data: [
                            @foreach (KeyValuePair<int, int> kvp2 in kvp.Value){
                                @kvp2.Value<Text>,</Text>
                            }
                        ],
                    },
                    </text>
                    datacolor++;
                    if (datacolor == L.Count) { datacolor = 0; }
                }
                ]
            }
        });


    </script>*@

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [@foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
                        {<Text>
                        '@kvp.Key.Replace("\r\n", "")',</Text>}],
            datasets: [
                {
                    label:'set1',
                        backgroundColor: ['@L[0]', '@L[1]', '@L[2]', '@L[3]', '@L[4]'],
                    borderColor: ['@L[0]','@L[1]','@L[2]','@L[3]','@L[4]'],
                    data: [
                        @foreach(KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
                        {
                            int fuc = 0;
                            foreach (KeyValuePair<int, int> kvp2 in kvp.Value) { fuc += kvp2.Value; }
                            <Text>@fuc,</Text>

                        }

                    ],

                },

            ]
        }
    });


</script>
<script>
        var ctx = document.getElementById('myChart2');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                datasets: [
                    {
                        label: '銷售額',
                        backgroundColor: 'rgba(179,205,227,0.6)',
                        borderColor: 'rgb(179,205,227)',
                        data: [
                            @for (int i=0;i<BEUSE.Count;i++){
                                @BEUSE[i]<Text>,</Text>
                            }
                        ],
                    },

                ]
            }
        });


</script>
<script>
    @*@foreach(var item in LR)
    {
        foreach(var item2 in item)
        {<Text>
        console.log(@item2)</Text>
        }
        for(int i=0; i<12;i++)
        {<Text>
    console.log(@item[i])</Text>
        }
    }*@
     @*@for(int i = 0; i < 3; i++)
     {

        for(int ii=0; ii<12;ii++)
        {<Text>
        console.log(@LR[0][ii])</Text>
        }
    }*@
</script>