@model MotaiProject.ViewModels.empData

@{
    ViewBag.Title = "銷售報表";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<h2>銷售報表</h2>


<table class="table">
    <tr>
        <th>
            報表
        </th>
        @foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
        {           
            foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
            {
                <th>
                    @kvp2.Key
                </th>
            }
        }

    </tr>

    @foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
    {
        <tr>
            <td>@kvp.Key</td>
            @foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
            {

                <td>@kvp2.Value</td>

            }
        </tr>
    }

</table>

@*@foreach (KeyValuePair<string, Dictionary<int, int>> kvp in Model.tem)
    {
        <div>
            @kvp.Key
            @foreach (KeyValuePair<int, int> kvp2 in kvp.Value)
            {
                <div>
                    @kvp2.Key
                    @kvp2.Value
                </div>
            }
        </div>
    }*@
<canvas id="myChart" width="400" height="400"></canvas>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['一月', '二月', '三月'],
            datasets: [{
                label: '銷售業績(百萬)',
                data: [60, 49, 72]
            }]
        }
    });
</script>