@model IEnumerable<MotaiProject.ViewModels.FavoriteViewModel>

@{
    ViewBag.Title = "收藏清單";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}


<div class="container">
    <table class="table table-light">
        <thead>
            <tr>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.FavoriteId)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.fCustomerId)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.fProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.FavoriteId)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.fCustomerId)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.fProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>
