@model IEnumerable<MotaiProject.ViewModels.FavoriteViewModel>

@{
    ViewBag.Title = "收藏清單";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}

<content>
    <script type="text/javascript">
        function collect(id2, name, price) {
            let r = Math.floor(Math.random() * (1000 - 10)) + 10; //亂數id
            id = id2 + r;
            var card1 = document.createElement("div");
            card1.className = "card col-xl-4 col-md-6";//class
            card1.style.height = "400px";
            card1.style.padding = "10px";
            card1.style.margin = "10px";
            card1.id = "card" + id;
            document.getElementById(`productrow`).appendChild(card1);
            let img1 = document.createElement("img");
            img1.src = "https://bootstrap.hexschool.com/docs/4.2/assets/img/bootstrap-themes.png";//產品圖片
            img1.className = "card-img-top";
            img1.style.width = "100%";
            img1.style.height = "70%";
            document.getElementById(`${card1.id}`).appendChild(img1);
            let cardbody1 = document.createElement("div");
            cardbody1.className = "card-body d-block"
            cardbody1.style.height = "120px";
            cardbody1.id = "cardbody" + id;
            document.getElementById(`${card1.id}`).appendChild(cardbody1);
            let titel1 = document.createElement("h5");
            titel1.className = "card-title d-flex"
            titel1.style.width = "70%";
            titel1.innerHTML = name;//商品名
            document.getElementById(`${cardbody1.id}`).appendChild(titel1);
            let img2 = document.createElement("img");
            img2.src = "https://bootstrap.hexschool.com/docs/4.2/assets/img/bootstrap-themes.png";//產品圖片
            img2.className = "card-img-top d-flex";
            img2.style.width = "50px";
            img2.style.height = "50px";
            img2.style.marginLeft = "70%";
            img2.style.marginTop = "-20px";
            //img2.setAttribute("onclick", "");
            document.getElementById(`${cardbody1.id}`).appendChild(img2);
            let cardtext1 = document.createElement("p");
            cardtext1.className = "card-text d-block"
            cardtext1.style.height = "40px";
            cardtext1.style.marginTop="-30px"
            cardtext1.innerHTML = price;//商品價格
            document.getElementById(`${cardbody1.id}`).appendChild(cardtext1);
            img1.setAttribute("onclick", `javascript:location.href='@Url.Action("產品細節", "Customer" )/${id2}'`);//插入url           
        }
    </script>
    <div class="container">


        <div class="container row">
            <div id="productrow" class="card-group"></div>
        </div>
        <div class="container-fluid" style="height:200px"></div>
        @*<script>
            window.onload = collect(2, "七彩玉花瓶", 123456);
            window.onload = collect(3, 564321, 123456);
        </script>*@
        
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <script>
                    window.onload = collect(@item.fProductId, "@item.pName", @item.pPrice);
                </script>
            }
        }
        
        @*<table class="table table-light">
            <thead>
                <tr>
                    <th style="display:none">
                        @Html.DisplayNameFor(model => model.FavoriteId)
                    </th>
                    <th style="display:none">
                        @Html.DisplayNameFor(model => model.fCustomerId)
                    </th>
                    <th style="display:none">
                        @Html.DisplayNameFor(model => model.fProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="display:none">
                            @Html.DisplayFor(modelItem => item.FavoriteId)
                        </td>
                        <td style="display:none">
                            @Html.DisplayFor(modelItem => item.fCustomerId)
                        </td>
                        <td style="display:none">
                            @Html.DisplayFor(modelItem => item.fProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pPrice)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>


        </table>*@

    </div>

</content>

