@model IEnumerable<MotaiProject.tPromotion>

@{
    ViewBag.Title = "最新消息";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}

<h2>最新消息</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PromotionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pPromotionStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pPromotionDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pPromotionWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pADimage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pDiscountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pDiscount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pPromotionStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pPromotionDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pPromotionWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pADimage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pDiscountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pDiscount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>



<style>
    ul li {
        color: #FCD492;
    }

    tr td {
        color: #FCD492;
    }
</style>


    <div class="container" style="height:71vh;">
        <div class="row">
            <h1 style="color:#FCD492;">最新消息</h1>
        </div>
        @*<div class="row" style="display:flex;">
            <div style="margin-right:10em; col-ex-6">
                <ul>
                    <li style="font-size:32px;">最新訊息</li>
                    <li> 買好玉，就是買好運</li>
                    <li>報復性旅遊？來宜蘭別忘了來礁溪</li>
                    <li>新進商品【貴妃椅】</li>
                    <li>今天來介紹木雕界的台灣之光---藍文萬老師</li>
                    <li>今天來介紹一下雞翅木家具的厲害之處...</li>
                    <li>介紹【長壽佛】</li>
                    <li>【鈦赫茲】(養生能量石)</li>
                    <li>【福氣對豬】</li>
                    <li>手捧蓮花 脫離苦海</li>
                    <li>《集合囉！新中寶仙友會》</li>
                    <li>天天半價優惠來嘍!</li>
                    <li>精美緬甸玉珮來囉!</li>
                    <li>新中寶精品藝術</li>
                    <li>2019台北佛教展今天開展！</li>
                    <li>羅漢床介紹</li>
                    <li>年度佛事盛會開展倒數!</li>
                    <li>紫晶洞的奇妙世界</li>
                    <li>周三來答題統整</li>
                    <li>收藏沉香雕件，有哪些事情必須要特別注意?</li>
                    <li>甘泉助茶香，茗香借水發</li>
                    <li>參觀尋寶趣</li>
                </ul>
            </div>*@
        <div>
            <div class="col-ex-6" id="d1" name="d1">
                <ul>
                    <li style="font-size:32px;">公告</li>
                </ul>
                <table cellpadding="5">
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td> 介紹【長壽佛】</td>
                    </tr>
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td>紫晶洞的奇妙世界</td>
                    </tr>
                    <tr>
                        <td colspan="2">問題</td>
                        <td></td>
                        <td>周三來答題統整</td>
                    </tr>
                    <tr>
                        <td colspan="2">限時</td>
                        <td></td>
                        <td>甘泉助茶香，茗香借水發</td>
                    </tr>
                    <tr>
                        <td colspan="2">促銷</td>
                        <td></td>
                        <td>手捧蓮花 脫離苦海</td>
                    </tr>
                    <tr>
                        <td colspan="2">活動</td>
                        <td></td>
                        <td>新進商品【貴妃椅】</td>
                    </tr>
                </table>
                <figure>
                    <img src="" />
                </figure>
            </div>
            <div class="col-ex-6" id="d2" style="display:none" name="d2">
                <ul>
                    <li style="font-size:32px;">公告</li>
                </ul>
                <table cellpadding="5">
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td> 買好玉，就是買好運</td>
                    </tr>
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td>報復性旅遊？來宜蘭別忘了來礁溪</td>
                    </tr>
                    <tr>
                        <td colspan="2">問題</td>
                        <td></td>
                        <td>【鈦赫茲】(養生能量石)</td>
                    </tr>
                    <tr>
                        <td colspan="2">限時</td>
                        <td></td>
                        <td>【福氣對豬】</td>
                    </tr>
                    <tr>
                        <td colspan="2">促銷</td>
                        <td></td>
                        <td>甘泉助茶香，茗香借水發</td>
                    </tr>
                    <tr>
                        <td colspan="2">活動</td>
                        <td></td>
                        <td>參觀尋寶趣</td>
                    </tr>
                </table>
                <figure>
                    <img src="" />
                </figure>
            </div>
            <div class="col-ex-6" id="d3" style="display:none" name="d3">
                <ul>
                    <li style="font-size:32px;">公告</li>
                </ul>
                <table cellpadding="5">
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td> 介紹【長壽佛】</td>
                    </tr>
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td>紫晶洞的奇妙世界</td>
                    </tr>
                    <tr>
                        <td colspan="2">問題</td>
                        <td></td>
                        <td>周三來答題統整</td>
                    </tr>
                    <tr>
                        <td colspan="2">限時</td>
                        <td></td>
                        <td>今天來介紹一下雞翅木家具的厲害之處...</td>
                    </tr>
                    <tr>
                        <td colspan="2">促銷</td>
                        <td></td>
                        <td>羅漢床介紹</td>
                    </tr>
                    <tr>
                        <td colspan="2">活動</td>
                        <td></td>
                        <td>今天來介紹一下雞翅木家具的厲害之處...</td>
                    </tr>
                </table>
                <figure>
                    <img src="" />
                </figure>
            </div>
            <div class="col-ex-6" id="d4" style="display:none" name="d4">
                <ul>
                    <li style="font-size:32px;">公告</li>
                </ul>
                <table cellpadding="5">
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td> 買好玉，就是買好運</td>
                    </tr>
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td>報復性旅遊？來宜蘭別忘了來礁溪</td>
                    </tr>
                    <tr>
                        <td colspan="2">問題</td>
                        <td></td>
                        <td>【鈦赫茲】(養生能量石)</td>
                    </tr>
                    <tr>
                        <td colspan="2">限時</td>
                        <td></td>
                        <td>天天半價優惠來嘍!</td>
                    </tr>
                    <tr>
                        <td colspan="2">促銷</td>
                        <td></td>
                        <td>甘泉助茶香，茗香借水發</td>
                    </tr>
                    <tr>
                        <td colspan="2">活動</td>
                        <td></td>
                        <td>今天來介紹木雕界的台灣之光---藍文萬老師</td>
                    </tr>
                </table>
                <figure>
                    <img src="" />
                </figure>
            </div>
            <div class="col-ex-6" id="d5" style="display:none" name="d5">
                <ul>
                    <li style="font-size:32px;">公告</li>
                </ul>
                <table cellpadding="5">
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td> 買好玉，就是買好運</td>
                    </tr>
                    <tr>
                        <td colspan="2">行銷</td>
                        <td></td>
                        <td>報復性旅遊？來宜蘭別忘了來礁溪</td>
                    </tr>
                    <tr>
                        <td colspan="2">問題</td>
                        <td></td>
                        <td>【鈦赫茲】(養生能量石)</td>
                    </tr>
                    <tr>
                        <td colspan="2">限時</td>
                        <td></td>
                        <td>【福氣對豬】</td>
                    </tr>
                    <tr>
                        <td colspan="2">促銷</td>
                        <td></td>
                        <td>甘泉助茶香，茗香借水發</td>
                    </tr>
                    <tr>
                        <td colspan="2">活動</td>
                        <td></td>
                        <td>參觀尋寶趣</td>
                    </tr>
                </table>
                <figure>
                    <img src="" />
                </figure>
            </div>
        </div>
        <div>
            <figure>
                <img src="" />
            </figure>
            <figure>
                <img src="" />
            </figure>
            <figure>
                <img src="" />
            </figure>
            <figure>
                <img src="" />
            </figure>
        </div>

        <div style="display:flex">
            <div style="margin:0 auto;color: #FCD492; visibility:hidden">上一頁</div>
            <div style="margin:0 auto;color: #FCD492;">
                <button id="b1">1</button>
                <button id="b2">2</button>
                <button id="b3">3</button>
                <button id="b4">4</button>
                <button id="b5">5</button>
            </div>
            <div style="margin:0 auto;color: #FCD492;visibility:hidden">下一頁</div>
        </div>
    </div>

    <script>

        for (let i = 1; i <= 5; i++) {
            document.querySelector(`#b${i}`).addEventListener('click',()=>{
                $(`#d${i}`).css("display", "block").siblings().css("display", "none");
            });
        }
    </script>
