@model MotaiProject.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout登入.cshtml";

}
<style>
    * {
        color: #F2EDD8;
    }
</style>

@{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <h4>會員註冊</h4>
            <hr />            
            <div class="form-group">
                @Html.LabelFor(model => model.cAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                <span style="color: #FCD492;">註冊後不可更改帳號</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cAccount, new { htmlAttributes = new { @class = "form-control", @id = "Account", @required = "required" } })                    
                    @Html.ValidationMessageFor(model => model.cAccount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cPassword, new { htmlAttributes = new { @class = "form-control", @id = "Password",@type = "password"} })
                    @Html.ValidationMessageFor(model => model.cPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword" } })
                    @Html.ValidationMessageFor(model => model.cConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cName, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                    @Html.ValidationMessageFor(model => model.cName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cTelePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cTelePhone, new { htmlAttributes = new { @class = "form-control", @id = "TelePhone" } })
                    @Html.ValidationMessageFor(model => model.cTelePhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cCellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cCellPhone, new { htmlAttributes = new { @class = "form-control", @id = "CellPhone" } })
                    @Html.ValidationMessageFor(model => model.cCellPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cAddress, new { htmlAttributes = new { @class = "form-control", @id = "Address" } })
                    @Html.ValidationMessageFor(model => model.cAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cGUI, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cGUI, new { htmlAttributes = new { @class = "form-control", @id = "GUI" } })
                    @Html.ValidationMessageFor(model => model.cGUI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cEmail, new { htmlAttributes = new { @class = "form-control", @id = "Email", @type = "Email"} })
                    @Html.ValidationMessageFor(model => model.cEmail, "請輸入正確格式", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="註冊" class="btn btn-default" id="ok" onclick="check()" />
                </div>
            </div>
        </div>
    </div>


}
<div class="container">
    @Html.ActionLink("回到首頁", "首頁")
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div id="demo"></div>
            </div>
        </div>*@
</div>

<script>

    function check() {
        var Account = $("#Account").val();
        var Password = $("#Password").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        var Name = $("#Name").val();
        var TelePhone = $("#TelePhone").val();
        var CellPhone = $("#CellPhone").val();
        var Address = $("#Address").val();
        var GUI = $("#GUI").val();
        var Email = $("#Email").val();

        var customersign = {
            cAccount: Account,
            cPassword: Password,
            cConfirmPassword: ConfirmPassword,
            cName: Name,
            cTelePhone: TelePhone,
            cCellPhone: CellPhone,
            cAddress: Address,
            cGUI: GUI,
            cEmail: Email,
        }; 

        $.ajax({
            url: "/Customer/會員註冊",
            type: "POST",
            data: { "newMember": customersign },
            success: function (data) {
                alert(data.msg);         
            }
        });
    };
</script>
