@model MotaiProject.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "會員中心";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}
<style>
    * {
        color: #F2EDD8;
        /*text-decoration: none;*/
        font-weight: 500;
    }

    .modal-title {
        color: black;
    }

    .modal-body {
        color: black;
    }

    .Y_row {
        font-size: 20px;
    }

    .Y_yellow {
        color: #FCD492;
    }

    a {
        color: #F2EDD8;
        text-decoration: none;
    }

        a:hover {
            color: #F2EDD8;
            text-decoration: none;
        }

    .Y_email a {
        pointer-events: none;
    }

    .Y_member_border {
        border-radius: 10px;
        border-color: #FCD492;
        border-width: 2px;
        border-style: solid;
        padding: 30px;
        display: flex;
        width: 550px;
    }

    .Y_member_row {
        width: 350px;
    }

    .btn-Y_yellow {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
        .btn-Y_yellow:hover {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
        }
        .btn-Y_yellow:focus, .btn-Y_yellow.focus {
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }
        .btn-Y_yellow.disabled, .btn-Y_yellow:disabled {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-Y_yellow:not(:disabled):not(.disabled):active, .btn-Y_yellow:not(:disabled):not(.disabled).active,
        .show > .btn-Y_yellow.dropdown-toggle {
            color: #fff;
            background-color: #0062cc;
            border-color: #005cbf;
        }
            .btn-Y_yellow:not(:disabled):not(.disabled):active:focus, .btn-Y_yellow:not(:disabled):not(.disabled).active:focus,
            .show > .btn-Y_yellow.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
            }

</style>




<div class="container">
    <div class="row Y_row" style="align-items :center; justify-content:space-between">
        <h2 class="Y_yellow">會員中心</h2>
        <div>

            <button type="button" class="btn btn-primary Y_row Y_yellow" data-toggle="modal" data-target="#Login">登出</button>
            @using (Html.BeginForm("登出", "Customer", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">登出視窗</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                是否要登出?
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">確認</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <hr />
    <div style="display:flex;justify-content:space-between">
        <div class="Y_member_border">
            <div style="display:flex;justify-content:space-between">
                <div class="Y_member_row">
                    <div class="row Y_row">
                        <div>
                            @Html.DisplayNameFor(model => model.cName)：
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.cName)
                        </div>
                    </div>

                    <div class="row Y_row">
                        <div>
                            @Html.DisplayNameFor(model => model.cTelePhone)：
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.cTelePhone)
                        </div>
                    </div>
                    <div class="row Y_row">
                        <div>
                            @Html.DisplayNameFor(model => model.cCellPhone)：
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.cCellPhone)
                        </div>
                    </div>
                    <div class="row Y_row">
                        <div>
                            @Html.DisplayNameFor(model => model.cAddress)：
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.cAddress)
                        </div>
                    </div>
                    <div class="row Y_row">
                        <div>
                            @Html.DisplayNameFor(model => model.cEmail)：
                        </div>

                        <div class="Y_email">
                            @Html.DisplayFor(model => model.cEmail)
                        </div>
                    </div>
                    <div class="row Y_row">
                        <div>
                            @Html.DisplayNameFor(model => model.cGUI)：
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.cGUI)
                        </div>
                    </div>
                </div>
                <div>
                    @Html.ActionLink("修改個人資料", "修改會員資料", new {  @class="btn-Y_yellow",CustomerId = Model.CustomerId, style = "color: #ff0000;" })
                </div>
            </div>
        </div>
        <div>
            <div style="display:flex;justify-content:space-between">
                <div class="Y_member_border">
                    <div style="display:flex;justify-content:space-between">
                        <div class="Y_member_row">
                            <div class="row Y_row">
                                <div>
                                    @Html.DisplayNameFor(model => model.cAccount)：
                                </div>

                                <div>
                                    @Html.DisplayFor(model => model.cAccount)
                                </div>
                            </div>
                            <div class="row Y_row">
                                <div>
                                    @Html.DisplayNameFor(model => model.cPassword)：
                                </div>
                                <div>
                                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        修改密碼
                                    </button>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body card-deck">
                                        <div>
                                            舊密碼
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.cPassword, new { htmlAttributes = new { @class = "form-control", } })
                                            </div>
                                        </div>
                                        <div>
                                            新密碼
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.cPassword, new { htmlAttributes = new { @class = "form-control", } })
                                                @Html.ValidationMessageFor(model => model.cPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div>
                                            確認密碼
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.cPassword, new { htmlAttributes = new { @class = "form-control", } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>




<div style="display:none">
    @Html.DisplayFor(model => model.CustomerId)
</div>

<script>
    var pa = document.querySelectorAll(".form-control");
    pa.forEach(p => p.value = "")
    const clearbox = (item) => {
        item.value = "";
        item.type = "Password";
    }
    pa.forEach(clearbox);


                    //pa.Value = "";
                    //pa.type = "Password";
</script>
