@model MotaiProject.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "會員中心";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}
<style>
    * {
        color: #ffffff;
    }
    .modal-title{
        color: black;
    }
    .modal-body{
        color: black;
    }
</style>

<h2>會員中心</h2>


<div class="container">
    <div style="display:none">
        @Html.DisplayFor(model => model.CustomerId)
    </div>
    <div class="row">
        <h4>
            @Html.DisplayNameFor(model => model.cAccount)
        </h4>

        <h4>
            @Html.DisplayFor(model => model.cAccount)
        </h4>
    </div>
    <div class="row">
        <div>
            @Html.DisplayNameFor(model => model.cPassword)
        </div>

        <div>
            @Html.DisplayFor(model => model.cPassword)
        </div>
    </div>
    <div class="row">
        <div>
            @Html.DisplayNameFor(model => model.cName)
        </div>

        <div>
            @Html.DisplayFor(model => model.cName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.cTelePhone)
        </div>

        <div>
            @Html.DisplayFor(model => model.cTelePhone)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.cCellPhone)
        </div>

        <div>
            @Html.DisplayFor(model => model.cCellPhone)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.cAddress)
        </div>

        <div>
            @Html.DisplayFor(model => model.cAddress)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.cGUI)
        </div>

        <div>
            @Html.DisplayFor(model => model.cGUI)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.cEmail)
        </div>

        <div>
            @Html.DisplayFor(model => model.cEmail)
        </div>


        <p>
            @Html.ActionLink("修改個人資料", "修改會員資料", new { CustomerId =Model.CustomerId}) |
            <button type="button" class="btn" data-toggle="modal" data-target="#Login">登出</button>
            @using (Html.BeginForm("登出", "Customer", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">登出視窗</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                是否要登出?
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">確認</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </p>
    </div>
</div>



