@model MotaiProject.ViewModels.DetailPromotionViewModel

@{
    ViewBag.Title = "消息細節";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}
<style>
    * {
        color: #F2EDD8;
    }
</style>
<div class="container">
    <div>
        <div>
            <h3>@Html.DisplayFor(model => model.PromotionName)</h3>
        </div>
        <hr />
        <div style="display:flex;justify-content:space-between">
            <div>

                <div>
                    @Html.DisplayFor(model => model.sPromotinoCategory)

                    活動期間：
                    @Html.DisplayFor(model => model.pPromotionStartDate)~
                    @Html.DisplayFor(model => model.pPromotionDeadline)
                </div>

                <div>
                    @Html.DisplayNameFor(model => model.PromotionDescription):
                    @Html.DisplayFor(model => model.PromotionDescription)
                </div>

                <div>
                    滿額活動，
                    @Html.DisplayFor(model => model.pCondition)現折
                    @Html.DisplayFor(model => model.pDiscount)
                </div>

                <div>
                    @Html.DisplayNameFor(model => model.pDiscountCode):
                    @Html.DisplayFor(model => model.pDiscountCode)
                </div>
                @{
                    if(Model.pPromotionWeb != null)
                    {
                <div>
                    <a href="@Html.DisplayFor(model => model.pPromotionWeb)">相關連結</a>
                </div>
                    }                    
                }
            </div>
            <div>
                圖片
                @Html.DisplayFor(model => model.pADimage)
            </div>
        </div>
    </div>
</div>