@model MotaiProject.ViewModels.DetailPromotionViewModel

@{
    ViewBag.Title = Model.PromotionName;
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}
<style>
    * {
        color: #F2EDD8;
    }


    .Y_yellow {
        color: #FCD492;
    }

</style>
<div class="container" >
    <div>
        <div style="margin-bottom:40px;text-align:center" class="Y_yellow">
            <h1>@Html.DisplayFor(model => model.PromotionName)</h1>
        </div>
        <hr />
        <div style="display:flex;justify-content:space-between;">
            <div style="margin-right:30px;width:800px;font-size:20px">

                <div style="margin-bottom:40px">
                    @Html.DisplayFor(model => model.sPromotinoCategory)

                    活動期間：
                    @Html.DisplayFor(model => model.pPromotionStartDate)~
                    @Html.DisplayFor(model => model.pPromotionDeadline)
                </div>

                <div>
                    @Html.DisplayNameFor(model => model.PromotionDescription):
                    @Html.DisplayFor(model => model.PromotionDescription)
                </div>
                <br />

                @{
                    if (Model.pCondition != null)
                    {
                        <div>
                            滿額活動:
                            @Html.DisplayFor(model => model.pCondition)現折
                            @Html.DisplayFor(model => model.pDiscount)
                        </div>

                        <div>
                            @Html.DisplayNameFor(model => model.pDiscountCode):
                            @Html.DisplayFor(model => model.pDiscountCode)
                        </div>
                    }
                }

                @{
                    if (Model.pPromotionWeb != null)
                    {
                        <div>
                            <a href="@Html.DisplayFor(model => model.pPromotionWeb)">相關連結</a>
                        </div>
                    }
                }
            </div>
            <div style="padding-bottom:50px;">
                <img style="height:40vh;width:60vh"  src="../..@Url.Content(Model.pADimage)" class="d-block w-100" alt="..." />
            </div>
        </div>
    </div>
</div>