@model IEnumerable<MotaiProject.ViewModels.ProductViewModel>

@{
    Layout = "~/Views/Shared/_Layout登入.cshtml";
    ViewBag.Title = "產品頁面";
    int xr = 1;
    int xr2 = 1;
    int xr3 = 1;
    bool listA = false;
    bool listB = false;
    bool listC = false;
}
<content>
    <style>
        .Y_productInfo {
            padding: 10px 20px;
            text-align: center;
            line-height: 1.5em;
            color: #FCD492;
            height: 90px;
        }

        .btn-brown_me {
            color: #fff;
            background-color: #A7674C;
            border-color: #A7674C;
        }

            .btn-brown_me:hover {
                color: #fff;
                background-color: #A7674C;
                border-color: #F2EDD8;
            }

            .btn-brown_me:focus,
            .btn-brown_me.focus {
                box-shadow: 0 0 0 0.2rem#F2EDD8;
            }

            .btn-brown_me.disabled,
            .btn-brown_me:disabled {
                color: #fff;
                background-color: #A7674C;
                border-color: #A7674C;
            }

            .btn-brown_me:not(:disabled):not(.disabled):active,
            .btn-brown_me:not(:disabled):not(.disabled).active,
            .show > .btn-brown_me.dropdown-toggle {
                color: #fff;
                background-color: #A7674C;
                border-color: #A7674C;
            }

                .btn-brown_me:not(:disabled):not(.disabled):active:focus,
                .btn-brown_me:not(:disabled):not(.disabled).active:focus,
                .show > .btn-brown_me.dropdown-toggle:focus {
                    box-shadow: 0 0 0 0.2rem#F2EDD8;
                }

        .dropdown-item {
            margin-bottom: 4px;
        }
        .displayisnone{
            display:none;
        }
    </style>
    <div class="container">
        <!-- 篩選器頭 -->
        <div class="btn-group" role="group">

            <button id="btnGroupDrop1" type="button" class="btn btn-brown_me dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                分類
            </button>
            @*<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <div class="form-group">
                        <a class="dropdown-item" href="#" onclick="cl(`C1`)">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input d-none" value="佛像" id="C1"
                                       onclick="bt1(this.value,this.id+1,this.id)">
                                <label class="form-check-label" for="dropdownCheck">
                                    佛像
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#" onclick="cl(`C2`)">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input d-none" value="餐具" id="C2"
                                       onclick="bt1(this.value,this.id+1,this.id)">
                                <label class="form-check-label" for="dropdownCheck">
                                    餐具
                                </label>
                            </div>
                        </a>
                    </div>
                </div>*@

            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <div class="form-group">
                    @foreach (var item in Model)
                    {
                        if (listA) { break; }
                        foreach (var item2 in item.AllCategory)
                        {<text>
                                <a class="dropdown-item" href="#" onclick="cl(`C@(xr)`)">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input d-none" value="@(item2)" id="C@(xr)"
                                               onclick="bt1(this.value,this.id+1,this.id)">
                                        <label class="form-check-label" for="dropdownCheck">
                                            @item2
                                        </label>
                                    </div>
                                </a>
                        </text>
                        xr++;
                    }
                    listA = true;
                }
                </div>
            </div>


            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-brown_me dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    材質
                </button>
                @*<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <div class="form-group">
                            <a class="dropdown-item" href="#" onclick="cl(`W1`)">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input d-none" value="杉木" id="W1"
                                           onclick="bt1(this.value,this.id+1,this.id)">
                                    <label class="form-check-label" for="dropdownCheck">
                                        杉木
                                    </label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="form-check" onclick="cl(`W2`)">
                                    <input type="checkbox" class="form-check-input d-none" value="和闐玉" id="W2"
                                           onclick="bt1(this.value,this.id+1,this.id)">
                                    <label class="form-check-label" for="dropdownCheck">
                                        和闐玉
                                    </label>
                                </div>
                            </a>
                        </div>
                    </div>*@
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <div class="form-group">
                        @foreach (var item in Model)
                        {
                            if (listB) { break; }
                            foreach (var item2 in item.AllMaterial)
                            {<text>
                                    <a class="dropdown-item" href="#" onclick="cl(`W@(xr2)`)">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input d-none" value="@(item2)" id="W@(xr2)"
                                                   onclick="bt1(this.value,this.id+1,this.id)">
                                            <label class="form-check-label" for="dropdownCheck">
                                                @item2
                                            </label>
                                        </div>
                                    </a>
                            </text>
                            xr2++;
                        }
                        listB = true;
                    }
                    </div>
                </div>
            </div>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-brown_me dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    單價
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <div class="form-group">
                        <a class="dropdown-item" href="#" onclick="cl(`P1`)">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input d-none" value="NTD.5,000以下" id="P1"
                                       onclick="bt1(this.value,this.id+1,this.id)">
                                <label class="form-check-label" for="dropdownCheck">
                                    NTD.5,000以下
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#" onclick="cl(`P2`)">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input d-none" value="NTD.5,000~50,000" id="P2"
                                       onclick="bt1(this.value,this.id+1,this.id)">
                                <label class="form-check-label" for="dropdownCheck">
                                    NTD.5,000~50,000
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#" onclick="cl(`P3`)">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input d-none" value="NTD.50,000~200,000" id="P3"
                                       onclick="bt1(this.value,this.id+1,this.id)">
                                <label class="form-check-label" for="dropdownCheck">
                                    NTD.50,000~200,000
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#" onclick="cl(`P4`)">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input d-none" value="NTD.200,000~1,000,000"
                                       id="P4" onclick="bt1(this.value,this.id+1,this.id)">
                                <label class="form-check-label" for="dropdownCheck">
                                    NTD.200,000~1,000,000
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#" onclick="cl(`P5`)">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input d-none" value="NTD.1,000,000以上" id="P5"
                                       onclick="bt1(this.value,this.id+1,this.id)">
                                <label class="form-check-label" for="dropdownCheck">
                                    NTD.1,000,000以上
                                </label>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-brown_me dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    尺寸
                </button>
                @*<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <div class="form-group">
                            <a class="dropdown-item" href="#" onclick="cl(`S1`)">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input d-none" value="配飾" id="S1"
                                           onclick="bt1(this.value,this.id+1,this.id)">
                                    <label class="form-check-label" for="dropdownCheck">
                                        配飾
                                    </label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#" onclick="cl(`S2`)">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input d-none" value="小" id="S2"
                                           onclick="bt1(this.value,this.id+1,this.id)">
                                    <label class="form-check-label" for="dropdownCheck">
                                        小
                                    </label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#" onclick="cl(`S3`)">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input d-none" value="中" id="S3"
                                           onclick="bt1(this.value,this.id+1,this.id)">
                                    <label class="form-check-label" for="dropdownCheck">
                                        中
                                    </label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#" onclick="cl(`S4`)">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input d-none" value="大" id="S4"
                                           onclick="bt1(this.value,this.id+1,this.id)">
                                    <label class="form-check-label" for="dropdownCheck">
                                        大
                                    </label>
                                </div>
                            </a>
                        </div>
                    </div>*@
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <div class="form-group">
                        @foreach (var item in Model)
                        {
                            if (listC) { break; }
                            foreach (var item2 in item.AllSize)
                            {<text>
                                    <a class="dropdown-item" href="#" onclick="cl(`S@(xr3)`)">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input d-none" value="@(item2)" id="S@(xr3)"
                                                   onclick="bt1(this.value,this.id+1,this.id)">
                                            <label class="form-check-label" for="dropdownCheck">
                                                @item2
                                            </label>
                                        </div>
                                    </a>
                            </text>
                            xr3++;
                        }
                        listC = true;
                    }
                    </div>
                </div>
            </div>
        </div>

        <div id=Nulldiv></div>
        <button onclick="bclean()" class="btn btn-light d-flex">清除所有選項</button>
        <!-- 篩選器尾 -->
        <div class="row ">
            @foreach (var item in Model)
            {
                <div class=" col-12 col-md-6 col-xl-3 thisisnotselected @(item.pPriceGroup) @(item.psSize) @(item.psMaterial) @(item.psCategory) " id="product@(item.ProductId)">
                    <a href="@Url.Action("產品細節","Customer", new { ProductId = item.ProductId })">
                        <img src="@Html.DisplayFor(modelItem => item.epsImage)" class="img-fluid " alt="..." />
                        <div class="Y_productInfo">
                            <h4>
                                <b>@Html.DisplayFor(modelItem => item.pName)</b>
                            </h4>
                            <h5>
                                <b>NTD$ @Html.DisplayFor(modelItem => item.pPrice)</b>
                            </h5>
                        </div>
                    </a>
                </div>
            }
        </div>


    </div>
    <script type="text/javascript">
        //onclick事件傳入value值和id
        function bt1(value, id, id2) {
            //判斷點選的按鈕的id是否存在,不存在則建立,存在則alert
            if (!document.getElementById(id)) {
                value = TransferString(value);
                //建立input元素
                var inp = document.createElement("input");
                inp.type = "button";
                //傳入點選按鈕的value值到新的按鈕
                inp.value =  value+"X";
                //傳入點選按鈕的id到新的按鈕(傳入是id+1防止重複)
                inp.id = id;
                //嵌入class
                inp.className = `btn btn-light ${id2.charAt(0)}Button`;
                //當方法有引數時，用onclick = 方法名(引數)時就有錯了，需要在方法名前面加function()
                inp.onclick = function () {
                    b1(id, id2, value);
                };
                var Nulld = document.getElementById("Nulldiv");
                Nulld.appendChild(inp);
                document.getElementById(`${id2}`).parentNode.parentNode.classList.add("bg-info");//改色
                
                let R = document.getElementsByClassName(`${value}`);

                //判斷要聯集還是交集
                //如果四類都沒有要加一個初始的類別進去
                if (!((Nulld.classList.contains("C")) || (Nulld.classList.contains("W")) || (Nulld.classList.contains("P")) || (Nulld.classList.contains("S")))) {
                    Nulld.classList.add(`${id2.charAt(0)}`);
                }
                if (document.getElementsByClassName(`${id2.charAt(0)}`)[0] == null) {//交集=>把還沒篩掉的當選取範圍
                    var beselected = document.getElementsByName("inArea");//不能用for因為是動態的讀取
                    var X = beselected.length;
                    //節點的物件是動態的

                    for (var i = 0; i < X - 1; i++) {//不可以用none                       
                        beselected[i].classList.add("thisisnotselected");
                        if (beselected[i].classList.contains(value)) {
                            beselected[i].classList.remove("displayisnone");
                            beselected[i].classList.remove("thisisnotselected");
                            beselected[i].setAttribute("name", "inArea");
                        }
                        else {
                            beselected[i].classList.add("displayisnone");
                            beselected[i].classList.add("thisisnotselected");
                            beselected[i].classList.add("tem");
                            //beselected[i].setAttribute("name", "");
                        }
                    }
                    var B = document.getElementsByClassName("tem");
                    while (B.length > 0) {
                        B[0].classList.add("thisisnotselected");
                        B[0].setAttribute("name", "");
                        B[0].classList.remove("tem");
                    }
                    
                    beSelect();
                }
                else {
                    for (var i = 0; i < R.length; i++) {
                        R[i].classList.remove("displayisnone");
                        R[i].classList.remove("thisisnotselected");
                        R[i].setAttribute("name", "inArea");
                    }

                    Nulld.classList.add(`${id2.charAt(0)}`);//要判斷是否為成重覆值
                    beSelect();
                }
                

            } else {//取消
                var Nulld = document.getElementById("Nulldiv");
                document.getElementById(id).remove();
                document.getElementById(`${id2}`).parentNode.parentNode.classList.remove("bg-info");//改色
                let R = document.getElementsByClassName(`${value}`);
                if (document.getElementsByClassName(`${id2.charAt(0)}Button`).item(0) == null) {//種類按鈕歸零的時候
                    Nulld.classList.remove(`${id2.charAt(0)}`);//拔掉種類判斷項
                }
                if (!((Nulld.classList.contains("C")) || (Nulld.classList.contains("W")) || (Nulld.classList.contains("P")) || (Nulld.classList.contains("S")))) {
                    //都沒有 好像可以改用下面的 清空
                    for (var i = 0; i < R.length; i++) {
                        R[i].classList.remove("displayisnone");
                        R[i].classList.add("thisisnotselected");
                        R[i].setAttribute("name", "");
                    }
                }
                else {//還有 有問題 選取範圍反了
                    //也許可以重傳參數再跑一次=>beclean後跑if
                    var i = 0;
                    var buttonarray = [];
                    while (Nulld.childNodes.item(i) != null) {
                        var rr = Nulld.childNodes.item(i).value;
                        var q = rr.substr(0, rr.length - 1);
                        var y = TransferString(q);
                        buttonarray.push(y);                       
                        i++;
                    }//抓按鈕還有哪些
                    console.log(buttonarray.length);
                    for (var i = 0; i < R.length; i++) {
                        R[i].classList.add("thisisnotselected");
                        R[i].setAttribute("name", "");
                    }



                    //for (var i = 0; i < R.length; i++) {//判斷+回來
                    //    for (var j = 0; j < buttonarray.length; j++) {
                    //        if (R[i].classList.contains(`${buttonarray[j]}`)) {
                    //            R[i].classList.add("tempItem");
                    //        }
                    //        else {
                    //             console.log("ok");
                    //        }
                    //    }
                    //    //R[i].classList.remove("displayisnone");
                    //    //R[i].classList.add("thisisnotselected");
                    //    //R[i].setAttribute("name", "");
                    //}


                    //var B = document.getElementsByClassName("tempItem");
                    //while (B.length > 0) {
                    //    B[0].classList.remove("displayisnone");
                    //    B[0].classList.remove("thisisnotselected");
                    //    B[0].setAttribute("name", "inArea");
                    //    B[0].classList.remove("tempItem");
                    //}



                    //for (var j = 0; j < buttonarray.length; j++) {
                    //    console.log(buttonarray[j]);
                    //    var selectitem = document.getElementsByClassName(`${buttonarray[j]}`);
                    //    console.log(selectitem);
                    //    for (var k = 0; k < selectitem.length; k++) {//要再下判斷
                    //        selectitem[k].classList.remove("displayisnone");
                    //        selectitem[k].classList.remove("thisisnotselected");
                    //        selectitem[k].setAttribute("name", "inArea");
                    //    }
                        
                    //}                             
                }
                beSelect();               
            }                      
        }
        function b1(id, id2, value) {//跟取消一樣
            //document.getElementById(id).remove();
            //document.getElementById(id2).checked = false;
            //document.getElementById(id2).parentNode.parentNode.classList.remove("bg-info");//改色
            //let R = document.getElementsByClassName(`${value}`);
            //var Nulld = document.getElementById("Nulldiv");
            //if (document.getElementsByClassName(`${id2.charAt(0)}Button`).item(0) == null) {//種類按鈕歸零的時候
            //    Nulld.classList.remove(`${id2.charAt(0)}`);//拔掉種類判斷項
            //}      
            //for (var i = 0; i < R.length; i++) {
            //    R[i].classList.remove("displayisnone");
            //    R[i].classList.add("thisisnotselected");
            //    R[i].setAttribute("name", "");
            //}
            var Nulld = document.getElementById("Nulldiv");
            document.getElementById(id).remove();
            document.getElementById(`${id2}`).parentNode.parentNode.classList.remove("bg-info");//改色
            let R = document.getElementsByClassName(`${value}`);
            if (document.getElementsByClassName(`${id2.charAt(0)}Button`).item(0) == null) {//種類按鈕歸零的時候
                Nulld.classList.remove(`${id2.charAt(0)}`);//拔掉種類判斷項
            }
            if (!((Nulld.classList.contains("C")) || (Nulld.classList.contains("W")) || (Nulld.classList.contains("P")) || (Nulld.classList.contains("S")))) {
                //都沒有 好像可以改用下面的
                for (var i = 0; i < R.length; i++) {
                    R[i].classList.remove("displayisnone");
                    R[i].classList.add("thisisnotselected");
                    R[i].setAttribute("name", "");
                }
            }
            else {//還有 有問題
                var i = 0;
                var buttonarray = [];
                while (Nulld.childNodes.item(i) != null) {
                    var rr = Nulld.childNodes.item(i).value;
                    var y = rr.substr(0, rr.length - 1);
                    buttonarray.push(y);
                    i++;
                }//抓按鈕還有哪些
                console.log(buttonarray.length);
                for (var i = 0; i < R.length; i++) {//清空+判斷
                    for (var j = 0; j < buttonarray.length; j++) {
                        if (R[i].classList.contains(`${buttonarray[j]}`)) {
                            console.log("ok");
                        }
                        else {
                            R[i].classList.add("tempItem");
                        }
                    }
                    //R[i].classList.remove("displayisnone");
                    //R[i].classList.add("thisisnotselected");
                    //R[i].setAttribute("name", "");
                }


                var B = document.getElementsByClassName("tempItem");
                while (B.length > 0) {
                    B[0].classList.add("thisisnotselected");
                    B[0].setAttribute("name", "");
                    B[0].classList.remove("tempItem");
                }



                //for (var j = 0; j < buttonarray.length; j++) {
                //    console.log(buttonarray[j]);
                //    var selectitem = document.getElementsByClassName(`${buttonarray[j]}`);
                //    console.log(selectitem);
                //    for (var k = 0; k < selectitem.length; k++) {//要再下判斷
                //        selectitem[k].classList.remove("displayisnone");
                //        selectitem[k].classList.remove("thisisnotselected");
                //        selectitem[k].setAttribute("name", "inArea");
                //    }

                //}                             
            }
            beSelect(); 
        }


        //全部加1個class 抓分類class 再把選到的東西拔掉一個class  最後加入class屬性是display:none
        function cl(id) {
            document.getElementById(id).click();
        }

        function beSelect() {
            var S = document.getElementsByClassName("thisisnotselected");
            var Nulld = document.getElementById("Nulldiv");
            for (var i = 0; i < S.length; i++) {
                S[i].classList.add("displayisnone");
            }
            if (Nulld.innerHTML == "") {//整張表都是空的
                for (var i = 0; i < S.length; i++) {
                    S[i].classList.remove("displayisnone");
                    S[i].setAttribute("name", "");
                }
                Nulld.classList.remove("C");
                Nulld.classList.remove("W");
                Nulld.classList.remove("P");
                Nulld.classList.remove("S");
            }
        }//改變屬性
                    //console.log(document.getElementById("Nulldiv").innerHTML == "");//true


        function bclean() {
            var x = document.getElementById("Nulldiv");
            var x2 = x.lastChild;
            while (x2) {
                x2.click();
                x2 = x.lastChild;
            }
        }

        //console.log(document.getElementsByClassName("NTD.5,000以下"));

        function TransferString(content) {//去掉奇怪符號
            var string = content;
            try {
                string = string.replace(/\r\n/g, "")
                string = string.replace(/\n/g, "");
            } catch (e) {
                console.log(e.message);
            }
            return string;
        } 
    </script>
</content>