@model MotaiProject.ViewModels.ProductViewModel
@using MotaiProject.Models
@{


    tCustomer cust = Session[CSession關鍵字.SK_LOGINED_CUSTOMER] as tCustomer;
    ViewBag.Title = "產品細節";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
    int id = Model.ProductId;
}
<content>
    <style>

        .presize {
            width: 100%;
            /* height: 25%; */
            /* margin: 0 0 0 0; */
            clear: both;
        }


        .flexdirection {
            display: flex;
            flex-flow: column;
        }

        .Y_btn {
            width: auto;
            display: inline-block;
            font-weight: 900;
            color: #FCD492;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.375rem 0.85rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

            .Y_btn:focus,
            .Y_btn.focus {
                outline: 0;
                box-shadow: 0 0 0 0;
            }


        .form-control3 {
            display: block;
            width: 80px;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            /* color: #A22E37; */
            background-color: #F2EDD8;
            background-clip: padding-box;
            border: 1px solid #A22E37;
            border-radius: 0.25rem;
            /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
            border-style: solid;
            border-radius: 5px
        }

            .form-control3:focus {
                /* color: #495057; */
                background-color: #F2EDD8;
                border-color: #313737;
                outline: 0;
                box-shadow: 0 0 0 0.1rem #A7674C;
            }

        .PlusMinus {
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            width: 155px;
            justify-content: space-between;
        }

        .Pintroduce_border {
            padding: 8px;
            border-radius: 10px;
            border-color: #FCD492;
            border-width: 2px;
            border-style: solid;
            /* width: 180px; */
            width: 100%;
            border-top: transparent;
            border-left: transparent;
        }
    </style>
    <div class="container">
        <div class="row presize">
            <div class=" col-12 col-md-6 col-xl-6 ">
                @{
                    int nub = 0;
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @foreach (var item in Model.psImage)
                            {
                                <li id="imageli" class="dataexample" data-target="#carouselExampleIndicators" data-slide-to="@nub">
                                </li>
                                nub++;
                            }
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var item in Model.psImage)
                            {
                                <div class="carousel-item" id="imagepic">
                                    <img src="@Url.Content(item)" class="d-block w-100" alt="..." />
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                }
            </div>
            <div style="display:none">
                <h6>@Html.DisplayFor(model => model.ProductId)</h6>
                @Html.HiddenFor(model => model.ProductId)
            </div>
            <div class=" col-12 col-md-6 col-xl-6 Y_white">
                <h7>@Html.DisplayNameFor(model => model.pNumber)</h7>
                <h7>@Html.DisplayFor(model => model.pNumber)</h7>
                <div style="display: flex;align-items: center;">
                    <h5>@Html.DisplayFor(model => model.pName)</h5>

                    <button type="button" class="btn Y_btn" data-toggle="tooltip" data-placement="top" title="收藏"
                            id="starlight" onclick="cancelFavor()">
                        <svg  height="32px" width="50px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" viewBox="0 0 576 512"><path fill="#F2EDD8" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" /></svg>
                    </button>
                    <button type="button" class="btn Y_btn" data-toggle="tooltip" data-placement="top" title="收藏"
                            id="star" onclick="addFavor()">
                        <svg  height="32px" width="50px" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" viewBox="0 0 576 512"><path fill="#F2EDD8" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z" /></svg>
                    </button>

                </div>
                <h5>NTD.@Html.DisplayFor(model => model.pPrice)</h5>


                <hr>
                <div style="display: flex">
                    <div class="form-inline PlusMinus" style="margin-right: 30px">
                        <button id="minus" class="Y_btn" onclick="Count(this.id)">-</button>
                        <input id="buyQty" name="buyQty" type="text" value=1 class="form-control3" style="text-align: center;">
                        <button id="plus" class="Y_btn" onclick="Count(this.id)">+</button>
                    </div>
                    <button type="button" class="btn btn-dark" onclick="addTocart()">加入購物車</button>
                </div>
                <h7 id="Qty">@Html.DisplayFor(model => model.pQty)</h7>
                <h7>件庫存</h7>
                <hr>
                <div style="display: flex;">
                    <div class="Pintroduce_border">
                        <h5>@Html.DisplayNameFor(model => model.psCategory)</h5>
                        <h6>@Html.DisplayFor(model => model.psCategory)</h6>
                    </div>
                    <div class="Pintroduce_border">
                        <h5>@Html.DisplayNameFor(model => model.psMaterial)</h5>
                        <h6>@Html.DisplayFor(model => model.psMaterial)</h6>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="Pintroduce_border">
                        <h5>@Html.DisplayNameFor(model => model.pLxWxH)</h5>
                        <h6>@Html.DisplayFor(model => model.pLxWxH)</h6>
                    </div>
                    <div class="Pintroduce_border">
                        <h5>@Html.DisplayNameFor(model => model.pWeight)</h5>
                        <h6>@Html.DisplayFor(model => model.pWeight)</h6>
                    </div>
                </div>
                <div class="Pintroduce_border">
                    <h5>@Html.DisplayNameFor(model => model.pIntroduction)</h5>
                    <h6>@Html.DisplayFor(model => model.pIntroduction)</h6>
                </div>
            </div>
        </div>
    </div>
</content>

<script>
    let R = 1;
    let ALL = @ViewBag.Qty;

    function Count(id) {
        console.log(id)
        if (id == "minus") {
            if (R > 1) {
                R = R - 1;
                $("#buyQty").val(R);
            }
            //減
        }
        else if (id == "plus") {
            if (R < ALL) {
                R++;
                $("#buyQty").val(R);
            }
        }
    }
</script>
<script>
    function addTocart() {
        const qty = document.querySelector("#buyQty").value;
        fetch('/Customer/AddToCart', {
            method: 'POST',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: `ProductId=${@id}&buyQty=${qty}`
        }).then(function (response) {
            return response.json();
        })
            .then(function (data) {
            //if (data.result) {
            //    alert(data.msg);
            //} else {
            //    alert(data.msg);
            })

    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        fetch('/Customer/CheckFavor', {
            method: 'POST',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: `ProductId=${@id}`
        }).then(function (response) {
            return response.json();
        }).then(function (data){
            var TorF = eval(data.check);
            if (TorF) {
                $("#star").css("display", "none");
                $("#starlight").css("display", "block");
            } else {
                $("#starlight").css("display", "none");
                $("#star").css("display", "block");
            }
        });
    });
</script>
<script>
    function cancelFavor() {
        fetch('/Customer/CancelFavorite', {
            method: 'POST',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: `ProductId=${@id}`
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            if (data.result) {
                //alert(data.msg);
                $("#starlight").css("display", "none");
                $("#star").css("display", "block");
            }
            //} else {
            //    alert(data.msg);
            //}
        });
    }
    function addFavor() {
        fetch('/Customer/AddFavorite', {
            method: 'POST',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: `ProductId=${@id}`
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            if (data.result) {
                $("#star").css("display", "none");
                $("#starlight").css("display", "block");
            }
            //    alert(data.msg);
            //} else {
            //    alert(data.msg);
            //}
        });
    }

</script>
@*觸發尚未登入*@

<div>
    @{
        if (cust == null)
        {
            using (Html.BeginForm("會員登入", "Customer", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title  Y_black" id="exampleModalLabel">會員登入</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group form-inline">
                                        <label for="loginAccount" class="col-form-label Y_black">帳號:</label>
                                        <div class="col-md-10 ">
                                            @Html.Editor("cAccount", new { htmlAttributes = new { @class = "Y_black" } })
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="loginPassword" class="col-form-label Y_black">密碼:</label>
                                        <div class="col-md-10">
                                            @Html.Editor("cPassword", new { htmlAttributes = new { @class = "Y_black" } })
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <div class="col-md-10">
                                            @Html.ActionLink("註冊會員", "會員註冊", "Customer", null, null)
                                        </div>
                                        <div class="col-md-10">
                                            @Html.ActionLink("忘記密碼", "忘記密碼", "Customer", null, null)
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">登入</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @Html.AntiForgeryToken()

            <div class="modal fade" id="star" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title  Y_black" id="exampleModalLabel">請先登入</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body  Y_black">
                            是否要登入?
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary  Y_black" data-dismiss="modal" data-toggle="modal" data-target="#Login">確認</button>
                            <button type="button" class="btn btn-secondary  Y_black" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="starlight" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title  Y_black" id="exampleModalLabel">請先登入</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body  Y_black">
                            是否要登入?
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary  Y_black" data-dismiss="modal" data-toggle="modal" data-target="#Login">確認</button>
                            <button type="button" class="btn btn-secondary  Y_black" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <script>
                
                $(document).ready(function () {
                    $("#star").removeAttr("data-toggle");
                    $("#star").removeAttr("data-target");
                    console.log("remove-star");
                })
                $(document).ready(function () {
                    $("#starlight").removeAttr("data-toggle");
                    $("#starlight").removeAttr("data-target");
                    console.log("remove-starlight");
                })
            </script>
        }
    }
</div>