@model IEnumerable<MotaiProject.ViewModels.StatusCartViewModel>

@{
    ViewBag.Title = "購物車清單";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
}

<h2>購物車清單</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pLxWxH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sProductQty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pLxWxH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sProductQty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
