@model MotaiProject.ViewModels.StatusCartGoToPayViewModel
@*@model MotaiProject.ViewModels.StatusCustomerViewModel*@
@using MotaiProject.Models

@{
    /**/
    decimal count = 0;
    ViewBag.Title = "購物車清單";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
    tCustomer cust = Session[CSession關鍵字.SK_LOGINED_CUSTOMER] as tCustomer;
}
<style>
    .wrapper {
        position: relative;
        width: 960px;
        height: 300px;
        overflow: hidden;
        margin: 100px auto;
    }


    ul.slides {
        width: 2200px;
        left: 0px;
        transition: all 1s;
        margin: 0;
        padding: 0;
        position: absolute;
    }

        ul.slides li {
            margin: 20px;
            padding: 0;
            list-style: none;
            width: 200px;
            height: 300px;
            overflow: hidden;
            float: left;
        }

            ul.slides li img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

    .dot {
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

        .dot li {
            border: 1px solid #fff;
            /* border-radius: 50%; */
            margin: 0 5px;
            width: 24px;
            height: 10px;
        }

    /* .dot li:hover{
            background: #fff;
        } */
    .slide_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        width: 30px;
        color: #fff;
        position: absolute;
        font-size: 24px;
    }

    #prevSlide {
        left: 0;
    }

    #nextSlide {
        right: 0;
    }

    .slide_btn i {
        color: rgba(255, 255, 255, .6);
        transition: .5s;
    }

    .slide_btn:hover i {
        color: rgba(255, 255, 255, 1);
    }
</style>


<div class="container">
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Carts.First().pName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Carts.First().pPrice)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Carts.First().sProductQty)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Carts.First().pTotal)
                </th>
                <th scope="col">
                    刪除
                </th>
            </tr>
        </thead>
        <tbody id="buyData">

            @foreach (var item in Model.Carts)
            {
                <tr>
                    <td style="display:none" name="Id">
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.pName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pIntPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sProductQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pTotal)
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "購物車內刪除", "Customer", new { fId = item.StatusId },
    new { OnClick= "return confirm('確定要刪除嗎?')",Class="btn btn-danger" })
                    </td>
                </tr>
                count += item.pTotal;
            }
        </tbody>
    </table>

    <div style="display:inline-grid;color:#F2EDD8">
        <div>
            <input type="radio" id="customerAddress" name="Address" value="1">
            <label for="customerAddress">自家住宅</label>
            <p id="cAddress">@cust.cAddress</p>
        </div>
        <div>
            <input type="radio" id="storeAddress" name="Address" value="2">
            <label for="storeAddress">門市</label>
            @Html.DropDownListFor(model => model.WarehouseNameId, Model.warehouses, "請選擇門市")
        </div>
    </div>
    <div style="color:#F2EDD8">
        <ul>
            <li>
                1.本站以您的Email或手機號碼為購物帳號，將以此帳號提供購物及查詢訂單服務。
                <br />如以手機號碼為購物帳號，建議可新增常用Email，日後可快速查詢客服回應資訊。
            </li>
            <li>2.您的交易記錄會留存於該次購物所用帳號內。如果更換綁定手機號碼，需查詢過往交易記錄時，請以更換後的手機號碼查詢即可。</li>
            <li> 3.不同帳號的交易紀錄無法移轉。</li>
        </ul>
    </div>
    <div class="d-flex">
        <div class="d-flex" style="width:60vw;height:20vh;margin:0px">

        </div>
        <div style="color:#F2EDD8;position:relative;width:30vw" class="">
            訂單資訊
            <hr />
            <div>
                小計: 新台幣
                <b id="info"></b>元
            </div>
            <script>
                document.querySelector("#info").innerHTML = @count;

            </script>
            運費:
            <br />
            折扣:
            <br />
            <div style="display:inline-grid">
                <div>
                    <input type="radio" id="cash" name="payType" value="1">
                    <label for="cash">現金</label>
                </div>
                <div>
                    <input type="radio" id="creditCard" name="payType" value="2">
                    <label for="creditCard">信用卡</label>
                </div>
            </div>
            <form method="post" action="@Url.Action("webOrder", "Order")" id="webData">
                <button id="webCheckout" type="button" class="btn btn-dark" style="position:absolute;right:0px">確定結帳</button>
            </form>
        </div>

    </div>
</div>

<script>

    $("#webCheckout").click(function () {
        var table = document.getElementById("buyData");
        var cAddress = $("#cAddress").text();
        var total = $("#info").text();
        var store = $("#WarehouseNameId").text();
        var method = $("input[name='Address']:checked").val();
        var shipaddress;
        if (method == 1) {
            shipaddress = cAddress;
        } else {
            shipaddress = store;
        }
        var payType = $("input[name='payType']:checked").val();

        var webPayData = {
            totalPay: total,
            shipAddress: shipaddress,
            //Items: JSON.stringify(rowArr),
            payType: payType,
        }
        var temp = document.getElementById("webData");
        for (var item in webPayData) {
            var ipt = document.createElement("input");
            ipt.name = item;
            ipt.value = webPayData[item];
            temp.appendChild(ipt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    });
</script>
<div class="container">
    <div class="row">
        <div class="wrapper">
            <h3 style="color:#FCD492">購買榜</h3>
            <ul class="slides">
                @for (int i = 1; i < 11; i++)
                {
                    <li>
                        <img id="orderimg@(i)" src=""
                             alt="">
                    </li>
                }
            </ul>
            <div id="prevSlide" class="slide_btn">
                <i class="carousel-control-prev-icon"></i>
            </div>
            <div id="nextSlide" class="slide_btn">
                <i class="carousel-control-next-icon"></i>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        (function favororder() {
            fetch('@Url.Action("購買排名", "Customer")', {
            method: 'POST',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
        }).then(function (response) {
            return response.json();
                }).then(function (data) {
                    //圖片需要從
                    for (let i = 1; i < 11; i++) {
                        let xx = $(`#orderimg${i}`);
                        let S2 = data.buyOrderby[i - 1]["Pimage"];
                        xx.attr("src", `${S2}`);
                        let S = data.buyOrderby[i-1]["Pid"];
                        xx.attr("onclick", `javascript:location.href='@Url.Action("產品細節", "Customer")?ProductId=${S}'`)
                    }

        });
        })()
</script>


<script>
    $(function () {

        let slideNum = 0;
        let slideCount = $(".slides li").length;
        let lastIndex = slideCount - 5;


        // let play = window.setInterval(setPlay, 1500);
        function setPlay() {
            show();
            slideNum++
            if (slideNum > lastIndex) {
                slideNum = 0;
            }
        }

        function stopPlay() {
            clearInterval(play);
        }

        function show() {
            let move = 0 - 240 * slideNum;
            $(".dot li").eq(slideNum).css("background-color", "#fff").siblings().css("background-color", "transparent");
            $("ul.slides").css("left", move);
        }

        // $(".wrapper").hover(function () {
        //     stopPlay();
        //     console.log("stop");
        // }, function () {
        //     play = window.setInterval(setPlay, 500);
        //     console.log("play");
        // });

        $(".dot li").eq(0).css("background-color", "#fff").siblings().css("background-color", "transparent");
        $(".dot li").mouseenter(function () {
            slideNum = $(this).index();
            show();
        });

        $("#prevSlide").click(function () {
            slideNum--;
            if (slideNum < 0) {
                slideNum = lastIndex;
            }
            show();
        })

        $("#nextSlide").click(function () {
            slideNum++;
            if (slideNum > lastIndex) {
                slideNum = 0;
            }
            show();
        })

    });
</script>