@model IEnumerable<MotaiProject.ViewModels.CustomerOrderViewModel>

@{
    ViewBag.Title = "過往訂單";
    Layout = "~/Views/Shared/_Layout登入.cshtml";
    int i = 0;
}
<style>
    .Y_btn-link {
        font-weight: 400;
        color: #000000;
    }

        .Y_btn-link:hover {
            /*color: #0056b3;*/
            background-color: #FCD492;
        }

        .Y_btn-link:focus, .Y_btn-link.focus {
            box-shadow: none;
        }

        .Y_btn-link:disabled, .Y_btn-link.disabled {
            color: #6c757d;
            pointer-events: none;
        }

    .Y_yellow {
        color: #FCD492;
    }


    .Y_white {
        color: #F2EDD8;
    }
</style>

<div class="container" style="font-size:20px;">
    <h2 style="display:flex; justify-content:center" class="Y_yellow">過往訂單</h2>

    <div class="accordion" id="accordionExample">
        <div class="card-header" style="padding:0px">
            <table class="table Y_white" style="text-align:center">
                <tr>
                    <th style="width:150px">
                        @Html.DisplayNameFor(model => model.oDate)
                    </th>
                    <th style="width:150px">
                        @Html.DisplayNameFor(model => model.WarehouseName)
                    </th>
                    <th style="width:150px">
                        @Html.DisplayNameFor(model => model.EmployeeName)
                    </th>
                    <th style="width:150px">
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                    <th style="width:150px">
                        @Html.DisplayNameFor(model => model.AlreadyPay)
                    </th>
                    <th style="width:150px">
                        @Html.DisplayNameFor(model => model.Unpaid)
                    </th>
                    <th style="width:190px">
                        @Html.DisplayNameFor(model => model.cNote)
                    </th>
                </tr>
            </table>
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {

                    <div class="card" style="padding:0px">
                        <div class="card-header" style="padding:0px">
                            <div id="heading@(i)" class="btn Y_btn-link container-fluid " type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)" style="padding:0px;height:50px">
                                <table class="table table-hover" style="text-align:center;font-size:18px;">
                                    <tr>
                                        <td style="width:150px">
                                            @Html.DisplayFor(modelItem => item.oDate)
                                        </td>
                                        <td style="width:150px">
                                            @Html.DisplayFor(modelItem => item.WarehouseName)
                                        </td>
                                        <td style="width:150px">
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td style="width:150px">
                                            @Html.DisplayFor(modelItem => item.TotalAmount)
                                        </td>
                                        <td style="width:150px">
                                            @Html.DisplayFor(modelItem => item.AlreadyPay)
                                        </td>
                                        <td style="width:150px">
                                            @Html.DisplayFor(modelItem => item.Unpaid)
                                        </td>
                                        <td style="width:190px">
                                            @Html.DisplayFor(modelItem => item.cNote)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="collapse@(i)" class="collapse hide" aria-labelledby="heading@(i)" data-parent="#accordionExample">
                        <div class="card-body" style="width:100%;background-color:#F2EDD8;">
                            <h5 style="text-align:center">商品列表</h5>
                            <table class="table text-dark" style="text-align:center">
                                <tr>
                                    <th style="width:150px">
                                        @Html.DisplayNameFor(model => model.CustomerOrderDetails.First().ProductNum)
                                    </th>
                                    <th style="width:150px">
                                        @Html.DisplayNameFor(model => model.CustomerOrderDetails.First().ProductName)
                                    </th>
                                    <th style="width:150px">
                                        @Html.DisplayNameFor(model => model.CustomerOrderDetails.First().ProductPrice)
                                    </th>
                                    <th style="width:150px">
                                        @Html.DisplayNameFor(model => model.CustomerOrderDetails.First().oProductQty)
                                    </th>
                                    <th  style="width:150px">
                                        @Html.DisplayNameFor(model => model.CustomerOrderDetails.First().oNote)
                                    </th>
                                </tr>
                                @foreach (var itemdetail in item.CustomerOrderDetails)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => itemdetail.ProductNum)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => itemdetail.ProductName)
                                        </td>
                                        <td>
                                            @((int)itemdetail.ProductPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => itemdetail.oProductQty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => itemdetail.oNote)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    i++;
                }
            }
            else
            {
                <div style="width:800px;font-size:30px;color:#F2EDD8;margin:auto;text-align:center">
                    無過往訂單紀錄
                </div>
            }
        </div>
    </div>


</div>
