@model MotaiProject.ViewModels.EmployeeLoginViewModel

@{
    ViewBag.Title = "墨臺Motai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span {
        padding: 0px;
        font-size: 30px;
    }
</style>
<div>
    <p style="font-size:0px; padding-left:50px;">
        <span onclick="Alogin(1)">墨</span>
        <span onclick="Alogin(2)">臺</span>
        <span onclick="Alogin(3)">後</span>
        <span onclick="Alogin(4)">台</span>
        <span onclick="Alogin(5)">系</span>
        <span>統</span>
    </p>
</div>


@Html.AntiForgeryToken()
   
<div class="form-group">
    <div class="col-md-10" style="margin:0 auto">
        @Html.LabelFor(model => model.eAccount, htmlAttributes: new { @class = "control-label col-md-5" })
        @Html.EditorFor(model => model.eAccount, new { htmlAttributes = new { @class = "form-control", @id = "Account" } })
        @Html.ValidationMessageFor(model => model.eAccount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="col-md-10" style="margin:0 auto">
            @Html.LabelFor(model => model.ePassword, htmlAttributes: new { @class = "control-label col-md-5" })
            @Html.EditorFor(model => model.ePassword, new { htmlAttributes = new { @class = "form-control", @id = "Password" } })
            @Html.ValidationMessageFor(model => model.ePassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div style="display:flex; justify-content:center">
        <input type="submit" class="btn btn-primary" style="width:140px;height:50px;" onclick="checklogin()" id="" value="登入">
    </div>
</div>

<script>
    function checklogin() {
        var Account = $("#Account").val();
        var Password = $("#Password").val();

        var emplogin = {
            eAccount: Account,
            ePassword: Password,
        };

        $.ajax({
            url: "@Url.Action("員工登入", "Employee")",
            type: "POST",
            data: { "e登入資料": emplogin },
            success: function (data) {
                alert(data.msg);
                if (data.result == true) {
                    onSuccess(data.url);
                }   
            }
        });
    };

    $('body').keydown(function () {
        if (event.keyCode == 13) {
            //enter 键值 为13
            checklogin();
        };
    });

    var onSuccess = function (url) {
        window.location.href = url;
    };

    function Alogin(id) {
         document.getElementById("Account").value = `test0${id}`;
         document.getElementById("Password").value = `test0${id}`;
    }
</script>
