@model IEnumerable<MotaiProject.ViewModels.DiaryViewModel>

@{
    ViewBag.Title = "工作日誌";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>工作日誌</h2>

<p>
    @Html.ActionLink("新增", "新增日誌")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiaryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dEmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dWeather)
        </th>
        <th style="width:50px;">
            @Html.DisplayNameFor(model => model.dDiaryNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dWarehouseNameId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiaryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dEmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dWeather)
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.dDiaryNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dWarehouseNameId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            
        </td>
    </tr>
}

</table>
