@model MotaiProject.ViewModels.OrderViewModel

@{
    ViewBag.Title = "會計審核";
    Layout = "~/Views/Shared/LayoutAccountant.cshtml";
}

<h2>會計審核</h2>

<div>
    <h4>OrderViewModel</h4>
    <hr />
        <div>
            @Html.DisplayNameFor(model => model.OrderId)
        </div>

        <div>
            @Html.DisplayFor(model => model.OrderId)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.oDate)
        </div>

        <div>
            @Html.DisplayFor(model => model.oDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.oAddress)
        </div>

        <div>
            @Html.DisplayFor(model => model.oAddress)
        </div>



        <div>
            @Html.DisplayNameFor(model => model.oDeliverDate)
        </div>

        <div>
            @Html.DisplayFor(model => model.oDeliverDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.oCheck)
        </div>

        <div>
            @Html.DisplayFor(model => model.oCheck)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.oCheckDate)
        </div>

        <div>
            @Html.DisplayFor(model => model.oCheckDate)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.cNote)
        </div>

        <div>
            @Html.DisplayFor(model => model.cNote)
        </div>

        <div>

        <div>
            @Html.DisplayNameFor(model => model.spDiscount)
        </div>

        <div>
            @Html.DisplayFor(model => model.spDiscount)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.sWarehouseName)
        </div>

        <div>
            @Html.DisplayFor(model => model.sWarehouseName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.seName)
        </div>

        <div>
            @Html.DisplayFor(model => model.seName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.scName)
        </div>

        <div>
            @Html.DisplayFor(model => model.scName)
        </div>
        <button type="button" class="btn btn-dark"style="width:30px;height:30px;" onclick="alertCheck()">審核</button>
</div>
