@model IEnumerable<MotaiProject.ViewModels.EmployeeViewModels>

@{
    ViewBag.Title = "檢視職員";
    Layout = "~/Views/Shared/LayoutPeople.cshtml";
}

<h2>檢視職員</h2>

<table class="table" style="text-align:center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eBranch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ePosition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.eName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sBranch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sPosition)
        </td>
        <td>
            @Html.ActionLink("修改", "修改員工", new { id = item.EmployeeId })

        </td>
    </tr>
}

</table>
