@model IEnumerable<MotaiProject.ViewModels.EmployeeViewModels>

@{
    ViewBag.Title = "人員檢視";
    Layout = "~/Views/Shared/LayoutPeople.cshtml";
}

<h2>人員檢視</h2>

<p>
    @Html.ActionLink("新增員工", "新增員工")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ePosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eBranch)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.eName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sBranch)
        </td>

        <td>
            @Html.ActionLink("修改", "修改員工", new {  id=item.EmployeeId }) |
           
        </td>
    </tr>
}

</table>
