@model MotaiProject.ViewModels.EmployeeViewModels

@{
    ViewBag.Title = "新增職員";
    Layout = "~/Views/Shared/LayoutPeople.cshtml";
}

<h2 onclick="clicktitle()">新增職員</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3 style=" display:none"">
            @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.eAccount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.eAccount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.eAccount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.eName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.eName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.eName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.eBranch, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.eBranch, Model.Branch, "請選擇職位", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.eBranch, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ePosition, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.ePosition, Model.Position, "請選擇職位", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ePosition, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ePassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.ePassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ePassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="新增" class="btn btn-default" />
        </div>
    </div>
</div>
}
    <div>
        @Html.ActionLink("回上一頁", "人員檢視")
    </div>

<script>
    function clicktitle() {
        document.getElementById('eAccount').value = "test10";
        document.getElementById('eName').value = "陳進士";
        document.getElementById('eBranch').value = "2";
        document.getElementById('ePosition').value = "5";
        document.getElementById('ePassword').value = "test10";
    }
</script>