@using MotaiProject.Models
@{
    tEmployee emp = Session[CSession關鍵字.SK_LOGINED_EMPLOYEE] as tEmployee;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="../../Scripts/jquery-3.5.1.min.js"></script>
    <link href="../../Scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <style>
        body {
            background: url("/images/Employee_login.png");
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin-bottom: 50px;
            /*overflow:hidden;
            border-width:1px;
            border-style:solid;
            border-color:#dedede #bababa #aaa #bababa;*/
            /*border-style: outset;
            border-width: 5px;*/
            box-shadow:0px 300px 300px rgba(248, 255, 255,0.7), 0 0px 0 #bbb, 0 0px 0 #aaa,0px 0 0px rgba(228,162,50,3) inset;
           
            
            
            
            


         
          
            /*border-color;*/
            /*-webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;*/
        }
    </style>

</head>
<body class="container">
    @*<script>


        </script>*@
    @*<ul class="nav flex-column">
            <li id="0" class="nav-item">
                @Html.ActionLink("員工首頁", "員工首頁", "Employee", new { area = "" }, new { @class = "navbar-brand" })
            </li>
            <li id="1" class="nav-item">
                @Html.ActionLink("員工新增", "新增員工", "Employee", new { area = "" }, new { @class = "navbar-brand" })
            </li>
            <li id="2" class="nav-item">
                @Html.ActionLink("產品頁面", "員工看產品頁面", "Employee", new { area = "" }, new { @class = "navbar-brand" })
            </li>
            <li id="3" class="nav-item">
                @Html.ActionLink("工作日誌", "工作日誌", "Employee", new { area = "" }, new { @class = "navbar-brand" })
            </li>
            <li id="4" class="nav-item">
                @Html.ActionLink("會計審核", "會計審核", "Employee", new { area = "" }, new { @class = "navbar-brand" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("登出", "員工登出")
            </li>
        </ul>*@
    <div class="schedule landingDetail container"style="margin-top:580px;margin-left:300px"  >
        <div class="form-group">
            <div class="col-md-6">
                <div class="container" style="display:flex" >
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - 墨臺</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>


    <script src="../../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../../Scripts/jquery.validate.min.js"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>
    <link href="../../Scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />

</body>
</html>