@using MotaiProject.Models
@{
    tEmployee emp = Session[CSession關鍵字.SK_LOGINED_EMPLOYEE] as tEmployee;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 墨臺</title>
    <script src="../../Scripts/jquery-3.5.1.min.js"></script>
    <link href="../../Scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <style>
        body {
            background: url("/images/Employee_login.png");
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        #wrapper {
            display: flex;
            min-height: 100vh;
        }
            #wrapper #content-wrapper {
                background-color: #f8f9fc;
                width: 100%;
                overflow-x: hidden;
            }

        .navbar-brand {
            margin: 8px;
        }
        .sidenav {
            height: 100%; 
            width: 160px; 
            position: fixed; 
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #000000;
                display: block;
            }
                .sidenav a:hover {
                    color: #f1f1f1;
                }
         .main {
            margin-left: 160px;
            padding: 0px 10px;
        }
     @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }
    </style>

</head>
<body id="page-top">
    <div id="wrapper">
        <div class="sidenav" style="background-color:#A7674C">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("首頁","Customer")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink">
                        <img style="height: auto;width: 100px;padding-bottom:40px" href="" src="../../Content/墨臺Logo.png" alt="">
                    </i>
                </div>
            </a>
            @Html.ActionLink("倉儲首頁", "Commodity首頁", "Commodity", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("管理產品", "倉儲看產品頁面", "Commodity", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("查詢進貨單", "進貨單查詢", "Commodity", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.ActionLink("建立進貨單", "進貨單建立", "Commodity", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("查詢出貨單", "出貨單查詢", "Commodity", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.ActionLink("建立出貨單", "出貨單建立", "Commodity", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("查詢調貨單", "調貨單查詢", "Commodity", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.ActionLink("建立調貨單", "調貨單建立", "Commodity", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("查詢倉儲", "倉儲查詢", "Commodity", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("登出", "員工登出", "Employee", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="container body-content;" style="display:inline-grid;justify-content:center; height:auto">
            <div></div>
            <div style="background-color:rgba(255, 255, 255,0.9) ;width:80vw; border-radius:10px; margin-top:50px; padding:30px;" class="main">
                @RenderBody()
            </div>
            <div></div>
            <div style="width:88vw">
                <p style="display:flex; justify-content:flex-end">&copy; @DateTime.Now.Year - 墨臺</p>
            </div>
        </div>
    </div>
    <script src="../../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../../Scripts/jquery.validate.min.js"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>
    <link href="../../Scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>