@model IEnumerable<MotaiProject.ViewModels.DiaryViewModel>

@{
    ViewBag.Title = "工作日誌";
    Layout = "~/Views/Shared/Layoutbusiness.cshtml";
}
<style>
    a {
        color: #000000;
    }

        a:hover {
            color: #000000;
            text-decoration: none;
        }

    .btn-yellow_me_one {
        color: #000000;
        font-weight: 900;
        background-color: #FCD492;
        width: 100px;
    }

        .btn-yellow_me_one:hover {
            color: #000000;
            font-weight: 900;
            background-color: #ffdfaa;
        }

        .btn-yellow_me_one:focus,
        .btn-yellow_me_one.focus {
            box-shadow: 0 0 0 0.1rem #F2EDD8;
            background-color: #ffdfaa;
        }

        .btn-yellow_me_one.disabled,
        .btn-yellow_me_one:disabled {
            color: #000000;
            font-weight: 900;
            background-color: #FCD492;
            border-color: #A7674C;
        }

        .btn-yellow_me_one:not(:disabled):not(.disabled):active,
        .btn-yellow_me_one:not(:disabled):not(.disabled).active,
        .show > .btn-yellow_me_one.dropdown-toggle {
            color: #000000;
            font-weight: 900;
            background-color: #FCD492;
        }

            .btn-yellow_me_one:not(:disabled):not(.disabled):active:focus,
            .btn-yellow_me_one:not(:disabled):not(.disabled).active:focus,
            .show > .btn-brown_me_one.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.1rem #F2EDD8;
                background-color: #ffdfaa;
            }
</style>
<h2>@Html.DisplayFor(model => Model.FirstOrDefault().eName) 工作日誌</h2>

<button class="btn btn-yellow_me_one" style="background-color:#FCD492">
    @Html.ActionLink("新增", "新增日誌")
</button>

<table class="table" style="overflow:hidden;text-align:center">
    <tr>
        <th style="display:none">
            @Html.DisplayNameFor(model => model.DiaryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dDate)
        </th>
        <th style="min-width:100px">
            @Html.DisplayNameFor(model => model.dWeather)
        </th>
        <th style="min-width:150px">
            @Html.DisplayNameFor(model => model.dWarehouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dDiaryNote)
        </th>
        <th style="min-width:60px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="display:none">
                @Html.DisplayFor(model => item.DiaryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dWeather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dWarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dDiaryNote)
            </td>
            <td>
                @Html.ActionLink("編輯", "修改日誌", new { id = item.DiaryId })

            </td>
        </tr>
    }

</table>
