@model IEnumerable<MotaiProject.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "訂單查詢";
    Layout = "~/Views/Shared/Layoutbusiness.cshtml";
    int i = 0;
}

<h2>訂單查詢</h2>
<style>
    .Y_hidden {
        display: none;
    }

    .Y_btn-link {
        font-weight: 400;
        color: #000000;
    }

        .Y_btn-link:hover {
            /*color: #0056b3;*/
            background-color: #FCD492;
        }

        .Y_btn-link:focus, .Y_btn-link.focus {
            box-shadow: none;
        }

        .Y_btn-link:disabled, .Y_btn-link.disabled {
            color: #6c757d;
            pointer-events: none;
        }
</style>

<div class="accordion" id="accordionExample">
    <div class="card-header" style="padding:0px">
        <table class="table" style="text-align:center">
            <tr>
                <th style="width:100px">
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.oDate)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.sWarehouseName)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.scName)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.PromotionName)
                </th>
                <th style="width:100px">
                    @Html.DisplayNameFor(model => model.pDiscount)
                </th>
                <th style="width:100px">
                    @Html.DisplayNameFor(model => model.receivable)
                </th>
                <th style="width:100px">
                    @Html.DisplayNameFor(model => model.received)
                </th>
                <th style="width:100px">
                    @Html.DisplayNameFor(model => model.surplus)
                </th>
                <th style="width:100px">審核狀況</th>
            </tr>
        </table>
    </div>
    @foreach (var item in Model)
    {
        <div class="card" style="padding:0px" name="@item.htmlName">
            <div class="card-header" id="heading@(i)" style="padding:0px">
                <div class="btn Y_btn-link container-fluid" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)" style="padding:0px;height:50px">
                    <table class="table table-hover" style="text-align:center" >
                        <tr>
                            <td style="width:100px">
                                @Html.DisplayFor(modelItem => item.OrderId)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.oDate)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.sWarehouseName)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.scName)
                            </td>
                            <td style="width:150px">
                                @Html.DisplayFor(modelItem => item.PromotionName)
                            </td>
                            <td style="width:100px">
                                @Html.DisplayFor(modelItem => item.pDiscount)
                            </td>
                            <td style="width:100px">
                                @Html.DisplayFor(modelItem => item.receivable)
                            </td>
                            <td style="width:100px">
                                @Html.DisplayFor(modelItem => item.received)
                            </td>
                            <td style="width:100px">
                                @Html.DisplayFor(modelItem => item.surplus)
                            </td>
                            <td style="width:100px">
                                @if (item.oCheck != null)
                                {
                                    @Html.DisplayFor(modelItem => item.oCheckDate)
                                    <div>已審核</div>
                                }
                                else if (item.surplus <= 0)
                                {
                                    <div>待審核</div>
                                }
                                else
                                {
                                    <div>未完成</div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div id="collapse@(i)" class="collapse hide" aria-labelledby="heading@(i)" data-parent="#accordionExample">
            <div class="card-body" style="width:100%">
                <h5 style="text-align:center">商品列表</h5>
                <table class="table text-dark" style="text-align:center">
                    <tr>
                        <th style="width:150px">
                            @Html.DisplayNameFor(model => model.orderDetailViews.First().ProductNum)
                        </th>
                        <th style="width:150px">
                            @Html.DisplayNameFor(model => model.orderDetailViews.First().ProductName)
                        </th>
                        <th style="width:150px">
                            @Html.DisplayNameFor(model => model.orderDetailViews.First().ProductPrice)
                        </th>
                        <th style="width:150px">
                            @Html.DisplayNameFor(model => model.orderDetailViews.First().oProductQty)
                        </th>
                        <th style="width:150px">
                            @Html.DisplayNameFor(model => model.orderDetailViews.First().oNote)
                        </th>
                    </tr>
                    @foreach (var itemdetail in item.orderDetailViews)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => itemdetail.ProductNum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemdetail.ProductName)
                            </td>
                            <td>
                                @((int)itemdetail.ProductPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemdetail.oProductQty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemdetail.oNote)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        i++;
    }
</div>

